dialog {
  border: none;
  border-radius: 5px;
}

// ЛК
.lk {
  width: 341px;
  padding: 40px;
  border-radius: 5px;
  background-color: var(--white);

  &_blog {
    margin-top: 20px;
    
    &-title {
      margin-bottom: 5px;
      color: var(--optianal-gray);
    }

    &-btns {
      display: flex;

      &-prof {
        margin-right: 30px;
      }
    }
  }
}
// Change password
.dialog-change {
  width: 400px;
  padding: 50px 40px;
  position: relative;
  border-radius: 5px;
  background-color: var(--white);
  // Кнопка close
  &_close {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  &_form {
    margin-top: 20px;

    &-input {
      margin-bottom: 20px;

      &-label {
        margin-bottom: 5px;
        color: var(--optianal-gray);
      }
    }
  }

  @include for-small-tablet {
    width: 100%;
    height: 100%;
    padding: 30px 20px;
  }
}
// Profile
.dialog-profile {
  width: 400px;
  padding: 50px 40px;
  position: relative;
  border-radius: 5px;
  background-color: var(--white);
  // Кнопка close
  &_close {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  &_form {
    margin-top: 20px;

    &-input {
      margin-bottom: 20px;

      &-label {
        margin-bottom: 5px;
        color: var(--optianal-gray);
      }
    }
  }

  @include for-small-tablet {
    width: 100%;
    height: 100%;
    padding: 30px 20px;
  }
}

// Dialog registration
.dialog-reg {
  width: 400px;
  padding: 50px 40px;
  position: relative;
  border-radius: 5px;
  background-color: var(--white);
  text-align: center;
  // Кнопка close
  &_close {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  &_title {
    margin-bottom: 20px;
  }

  &_form {
    margin-top: 20px;

    &-btn {
      margin-top: 20px;
    }
  }

  @include for-small-tablet {
    width: 100%;
    height: 100%;
    padding: 30px 20px;
  }
}

// Dialog confirmation
.dialog-conf {
  width: 400px;
  padding: 50px 40px;
  position: relative;
  border-radius: 5px;
  background-color: var(--white);
  text-align: center;
  // Кнопка close
  &_close {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  &_back {
    position: absolute;
    top: 20px;
    left: 20px;
  }

  &_title {
    margin-bottom: 20px;
  }

  &_form {
    margin-top: 20px;

    &-input {
      margin-bottom: 20px;
    }

    &-text {
      color: var(--optianal-gray);
    }
  }

  @include for-small-tablet {
    width: 100%;
    height: 100%;
    padding: 30px 20px;
  }
}

// Dialog project
.dialog-proj {
  width: 400px;
  padding: 50px 40px;
  position: relative;
  border-radius: 5px;
  background-color: var(--white);
  text-align: center;
  // Кнопка close
  &_close {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  &_back {
    position: absolute;
    top: 20px;
    left: 20px;
  }

  &_title {
    margin-bottom: 20px;
  }

  &_form {
    margin-top: 20px;

    &-input {
      margin-bottom: 20px;
    }

    &-text {
      color: var(--optianal-gray);
    }

    &-label {
      text-align: left;
    }
  }

  @include for-small-tablet {
    width: 100%;
    height: 100%;
    padding: 30px 20px;
  }
}

// Cookie
.cookie {
  @include flex-all-sb;
  padding: 30px 40px;
  border-radius:5px;
  background-color: var(--white);

  &_img {
    margin: 0 50px;

    @include for-laptop {
      margin: 0;
    }

    @include for-tablet {
      width: 47px;
      height: 45px;
      margin-bottom: 10px;
    }
  }

  &_text {
    width: 840px;

    @include for-laptop {
      margin: 0 20px;
      width: auto;
    }

    @include for-tablet {
      margin-bottom: 20px;
    }
  }

  &_btn {
    @include for-mobile {
      width: 100%;
    }
  }

  @include for-tablet {
    padding: 20px;
    display: block;
    text-align: center;
  }
}
