.dialog-cheeper {
  width: 400px;
  padding: 50px 40px;
  
  @include for-small-tablet {
    width: 100%;
    height: 530px;
    padding: 30px 20px;
  }
}

.dialog-cheep {
  position: relative;
  border-radius: 5px;
  background-color: var(--white);
  // Кнопка close
  &_close {
    position: absolute;
    top: -40px;
    right: -30px;

    @include for-small-tablet {
      top: -20px;
      right: -10px;
    }
  }

  &_title {
    text-align: center;
  }

  &_form {
    margin-top: 20px;

    &-input {
      margin: 10px 0;
    }

    &-btn {
      margin-top: 20px;
    }
  }
}
