.dialog-for-buy {
  width: 400px;
  padding: 50px 40px;

  @include for-small-tablet {
    width: 100%;
    height: 468px;
    padding: 30px 20px;
  }
}

.dialog-buy {
  position: relative;
  border-radius: 5px;
  background-color: var(--white);
  // Кнопка close
  &_close {
    position: absolute;
    top: -40px;
    right: -30px;

    @include for-small-tablet {
      top: -20px;
      right: -10px;
    }
  }

  &_product {
    margin-top: 30px;
    @include flex-all-sb;

    &-data {
      margin-left: 15px;
    }

    &-cost {
      width: 192px;
      margin-top: 5px;
      @include flex-all-sb;

      &-price {
        font-weight: 800;
  
        &-sale {
          color: var(--optianal-gray);
          text-decoration: line-through;
        }
      }

      &-stock {
        color: var(--optianal-gray);
      }

      @include for-mobile {
        width: 100%;
      }
    }
  }

  &_form {
    margin-top: 20px;

    &-input {
      margin: 10px 0;
      width: 100%;
    }

    &-btn {
      margin-top: 20px;
    }
  }

  @include for-small-tablet {
    width: 100%;
    height: 100%;
    padding: 30px 20px;
  }
}
