.dialog-for-review {
  width: 400px;


  @include for-small-tablet {
    width: 100%;
    height: 635px;
  }
}

.dialog-review {
  padding: 50px 40px;
  position: relative;
  border-radius: 5px;
  background-color: var(--white);
  // Кнопка close
  &_close {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  &_product {
    margin-top: 30px;
    @include flex-all-sb;

    &-data {
      margin-left: 15px;
    }

    &-cost {
      width: 192px;
      margin-top: 5px;
      @include flex-all-sb;

      &-price {
        font-weight: 800;
  
        &-sale {
          color: var(--optianal-gray);
          text-decoration: line-through;
        }
      }

      @include for-mobile {
        width: 100%;
      }
    }
  }

  &_rate {
    margin-top: 15px;
  }

  &_gray-title {
    margin-bottom: 5px;
    color: var(--optianal-gray);
  }

  &_form {
    margin-top: 10px;
    position: relative;

    &-input {
      margin: 10px 0;
    }

    &-import {
      padding: 15px 20px;
      border: 1px dashed var(--optianal-gray);
      border-radius: 5px;
      cursor: pointer;
      @include flex-all-sb;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      &-text {
        margin-left: 20px;
      }

      &-link {
        text-decoration: underline;
        color: var(--optianal-gray);

        &:hover {
          color: var(--optianal-gray);
        }
      }
    }

    &-file {
      width: 100%;
      height: 85px;
      position: absolute;
      bottom: 80px;
      color: transparent;
      border: none;
      background-color: transparent;

      @include for-big-tablet {
        bottom: 70px;
      }
    }

    &-btn {
      margin-top: 20px;
    }
  }

  @include for-small-tablet {
    padding: 30px 20px;
  }
}
