.dialog-card {
  width: 900px;
  height: 100%;
  padding: 40px;
  position: relative;
  background-color: var(--white);
  // Btn close
  &_close {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  // Столбцы 
  &_columns {
    margin-top: 10px;
    display: flex;
    // 991.5px
    @include for-big-tablet {
      display: block;
    }
    // 575.5px
    @include for-mobile {
      position: relative;
    }
  }
  // Второй столбец
  &_secondColumn {
    margin-left: 30px;
    // 991.5px
    @include for-big-tablet {
      margin: 0;
    }
  }
  // Images
  &_images {
    margin-top: 15px;
    display: flex;
    // Маленькие фотографии 
    &-small {
      &-img {
        margin: 0 18px 10px 0;
  
        &:last-child {
          margin-bottom: 0;
        }
        // 575.5px
        @include for-mobile {
          display: inline;
          margin: 10px 5px 0 0;
        }
      }
      // 575.5px
      @include for-mobile {
        position: absolute;
        top: 390px;
        left: 0;
        width: 100%;
        @include flex-all-sb;
      }
    }
    // Большая фотография
    &-big {
      position: relative;

      &-img {
        width: 340px;
        height: 340px;
        border-radius: 5px;
        // 575.5px
        @include for-mobile {
          width: 100%;
          margin-bottom: 60px;
        }
      }
      // 575.5px
      @include for-mobile {
        margin-top: 15px;
      }
    }
    // Heart
    &-heart {
      position: absolute;
      top: 10px;
      right: 10px;
    }
    // 991.5px
    @include for-big-tablet {
      margin: 20px 0;
    }
    // 575.5px
    @include for-mobile {
      display: block;
      margin: 20px 0;
    }
  }
  // Данные продукта
  &_data {
    margin-top: 28px;
    // 575.5px
    @include for-small-tablet {
      margin-top: 15px;
    }
  }
  // Цена
  &_cost {
    display: flex;
    margin-top: 28px;

    &-price {
      margin-right: 20px;
    }
    // 575.5px
    @include for-small-tablet {
      margin-top: 15px;
    }
  }
  // Остаток
  &_stock {
    margin-top: 20px;
    // 991.5px
    @include for-big-tablet {
      margin-top: 15px;
    }
  }
  // Кнопки
  &_btn{
    display: flex;
    margin: 20px 0 30px;

    &-card {
      // 575.5px
      @include for-mobile {
        width: 100%;
      }
    }

    &-buy {
      margin-left: 20px;
      // 575.5px
      @include for-mobile {
        margin: 10px 0;
        width: 100%;
      }
    }
    // 575.5px
    @include for-mobile {
      display: block;
      margin: 15px 0;
    }
  }
  // Характеристики
  &_characteristics {
    line-height: 20px;
  }
  // 991.5px
  @include for-big-tablet {
    width: 500px;
    height: 100%;
    padding: 30px;
  }
  // 575.5px
  @include for-small-tablet {
    width: 100%;
    padding: 10px;
  }
}
