.cart {
  // Title
  &_title {
    margin-bottom: 30px;
    
    @include flex-all-sb;

    &-links {
      display: flex;
      text-decoration: underline;
      // 767.5px
      @include for-tablet {
        display: block;
      }
    }
    // Share
    &-share-link {
      margin-right: 30px;
      // 767.5px
      @include for-tablet {
        margin: 20px 0;
      }
    }
    // Icons title
    &-links-icon {
      margin-right: 14px;
    }
    // 767.5px
    @include for-tablet {
      display: block;
    }
  }
  // Product blog
  &_product-blog {
    // Title
    &-title {
      padding: 20px 40px;
      @include flex-all-sb;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      background-color: rgba(242, 242, 242, 1);

      &-clean {
        @include flex-all-sb;

        &-icon {
          margin-left: 10px;
          // 767.5px
          @include for-tablet {
            margin-left: 5px;
          }
        }
      }
      // 767.5px
      @include for-tablet {
        padding: 10px 20px;
      }
    }
    // Body
    &-body {
      padding: 30px 40px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      background-color: var(--white);

      &-divider {
        margin: 30px 0;
        // 767.5px
        @include for-tablet {
          margin: 20px 0;
        }
      }
      // 767.5px
      @include for-tablet {
        padding: 10px 20px;
      }
    }
  }
  // Products
  &_product {
    display: flex;
    justify-content: space-between;
    // Product image
    &-img {
      // 450px
      @include for-mobile {
        width: 100px;
        height: 100px;
        margin-bottom: 5px;
      }
    }
    // Title
    &-title {
      @include for-mobile {
        width: 156px;
      }
    }
    // Product columns
    &-column {
      display: flex;
    }
    // Product Second column
    &-center {
      margin-left: 30px;
      // Second column bottom
      &-bottom {
        @include flex-all-sb;
      }
      // Second column columns
      &-column {
        margin-right: 70px;
        // 1399.5px
        @include for-laptop {
          margin-right: 30px;
        }
        // 767.5px
        @include for-tablet {
          margin-right: 10px;
        }
      }
      // 767.5px
      @include for-tablet {
        margin-left: 10px;
      }
    }
    // Product counter
    &-counter {
      margin: 15px 0;
      // 450px
      @include for-mobile {
        margin: 5px 0;
      }
    }
    // Product price
    &-price {
      margin-right: 40px;
      // 767.5px
      @include for-tablet {
        position: absolute;
        right: -40px;
        top: 20%;
      }
    }
    // Product textarea div
    &-input {
      // 767.5px
      @include for-tablet {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
      }
    }
    // Product textarea
    &-textarea {
      // 991.5px
      @include for-big-tablet {
        width: 200px;
      }
      // 767.5px
      @include for-tablet {
        width: 100%;
      }
    }
    // 767.5px
    @include for-tablet {
      position: relative;
      padding-bottom: 70px;
    }
  }
  // Details
  &_details {
    padding: 30px;
    border-radius: 5px;
    background-color: var(--white);
    // Details list
    &-list {
      margin-top: 20px;
      // List items
      &-item {
        margin: 10px 0;
        display: flex;
        justify-content: space-between;
      }
      // Gray text
      &-gray {
        color: var(--optianal-gray);
      }
    }
    // Total price
    &-total {
      margin-top: 20px;

      @include flex-all-sb;
    }
    // Prormokod
    &-promokod {
      margin: 30px 0;
    }
    // Details btns
    &-btns {
      @include flex-all-sb;
      // 1399.5px
      @include for-laptop {
        display: block;
      }
      // 1199.5px
      @include for-small-laptop {
        @include flex-all-sb
      }
    }
    // Detail btn
    &-btn {
      // 1399.5px
      @include for-laptop {
        width: 100%;
        margin: 5px 0;
      }
      // 1199.5px
      @include for-small-laptop {
        width: 40%;
        margin: 0;
      }
      // 450px
      @include for-mobile {
        width: auto;
      }
    }
    // Detail contacts
    &-contact {
      margin-top: 20px;

      &-item {
        margin: 5px 0;
      }
    }
    // 1199.5px
    @include for-small-laptop {
      margin-top: 20px;
    }
  }
}
