<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/nouislider.min.css">
    <link rel="stylesheet" href="../css/swiper-bundle.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <title>Mercury</title>
  </head>
  <body>
    <!-- Header start -->
    <header class="header">
      <!-- Topbar section -->
      <div class="header_topbar container">
        <div class="header_topbar_items">   
          <!-- Place -->  
          <div class="all_sb">
            <img 
              src="../assets/img/icons/map.svg" 
              alt="icon" 
              class="header_topbar_icon pointer"
            >
            <div class="title_h6 pointer">
              Москва
            </div>
          </div>   
          <div class="all_sb">
            <!-- Shop -->
            <div class="title_h6 header_topbar_adr pointer">Магазин в Санкт-Петербурге</div>
            <!-- Phone -->
            <a href="tel:+7999999999" type="tel" class="phone pointer">+7 (999) 99-99-99</a>
            <!-- WhatsApp -->
            <img src="../assets/img/header/whatsapp.svg" class="header_topbar_whatsapp" alt="whatsapp">
          </div>
        </div>
      </div>

      <!-- Secondbar section -->
      <div class="header_secondbar">
        <!-- Secondbar first section -->
        <div class="header_secondbar_fSection container">
          <!-- Logo -->
          <a href="../index.html"><img src="../assets/img/header/logo.svg" class="header_secondbar-logo pointer" alt="logo"></a>
          <!-- Form -->
          <form class="all_sb header_secondbar-form header_secondbar-mob">
            <!-- Search -->
            <input 
              type="text"
              placeholder="Поиск..."
              class="header_secondbar_input input"
            >
            <!-- Select -->
            <select class="header_secondbar_select title_h5 pointer">
              <option 
                value="all categories" 
                disabled 
                selected
              ><h5>Все категории</h5></option>
              <option value="first category"><h5>Первая категория</h5></option>
              <option value="second category"><h5>Вторая категория</h5></option>
              <option value="third category"><h5>Третья категория</h5></option>
            </select>
            <!-- Button -->
            <button class="header_secondbar_btn pointer">
              <img src="../assets/img/icons/search-line.svg" alt="search">
            </button>
          </form>

          <!-- Header icons -->
          <div class="header_secondbar-icons header_secondbar-mob">
            <button class="icons pointer">
              <img src="../assets/img/icons/account.svg" alt="account">
            </button>
            <button class="icons pointer">
              <a href="./viewed.html">
                <img src="../assets/img/icons/eay.svg" alt="eay">
              </a>
            </button>
            <button class="icons pointer">
              <a href="./favorites.html">
                <img src="../assets/img/icons/heart.svg" alt="heart">
              </a>
            </button>
            <button class="icons icons_cart pointer">
              <a href="../components/cart.html">
                <img src="../assets/img/icons/cart.svg" alt="cart">
                <div class="icons_cart-count">12</div>
              </a>
            </button>
          </div>

          <!-- Mobile burger -->
          <nav class="navbar navbar-expand-lg" id="mainNavbar">
            <button 
              type="button" 
              class="navbar navbar-toggler" 
              data-bs-toggle="offcanvas" 
              data-bs-target="#myNavbar"
              id="openmyNavbar"
            >
              <img src="../assets/img/header/burger.svg" alt="burger">
            </button>
          </nav>
          <!-- Mobile Dialog -->
          <div 
            class="offcanvas offcanvas-end" 
            tabindex="-1" 
            id="myNavbar"
          >
            <div class="offcanvas-header">
                <div></div>
                <button class="btn" data-bs-dismiss="offcanvas">
                  <img src="../assets/img/header/burger-close.svg" alt="Close navabar">
                </button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav text-center">
                  <li class="nav-first-item">
                    <select class="header_secondbar_select title_h5 pointer">
                      <option 
                        value="all categories" 
                        disabled 
                        selected
                      ><h5>Все категории</h5></option>
                      <option value="first category"><h5>Первая категория</h5></option>
                      <option value="second category"><h5>Вторая категория</h5></option>
                      <option value="third category"><h5>Третья категория</h5></option>
                    </select>
                  </li>
                  <li class="nav-first-item">
                    <input 
                      type="text"
                      placeholder="Поиск..."
                      class="header_secondbar_input title_h4"
                    >
                    <button class="header_secondbar_btn pointer">
                      <img src="../assets/img/icons/search-line.svg" alt="search">
                    </button>
                  </li>
                  <li class="nav-second-item">
                    <a href="./catalog.html"><h1 class="title_h1 pointer">Каталог</h1></a>
                  </li>
                  <li class="nav-second-item">
                    <a href="./designer.html"><h1 class="title_h1 pointer">Дизайнерам</h1></a>
                  </li>
                  <li class="nav-second-item">
                    <a href="./services.html"><h1 class="title_h1 pointer">Услуги</h1></a>
                  </li>
                  <li class="nav-second-item">
                    <a href="./sale/sale-catalog.html"><h1 class="title_h1 pointer">Акции</h1></a>
                  </li>
                  <li class="nav-second-item">
                    <a href="./brands.html"><h1 class="title_h1 pointer">Бренды</h1></a>
                  </li>
                  <li class="nav-second-item">
                    <h1 class="title_h1 pointer">Покупателям</h1>
                  </li>
                  <li class="nav-second-item">
                    <a href="./about-company.html"><h1 class="title_h1 pointer">О компании</h1></a>
                  </li>
                  <li class="nav-second-item">
                    <a href="./contact.html"><h1 class="title_h1 pointer">Контакты</h1></a>
                  </li>
                </ul>
            </div>
          </div>
        </div>
  
        <div class="header_divider"></div>

        <!-- Secondbar second section -->
        <div class="header_secondbar_sSection container all_sb">
          <a href="./catalog.html"><h4 class="title_h4 pointer">Каталог</h4></a>
          <a href="./designer.html"><h4 class="title_h4 pointer">Дизайнерам</h4></a>
          <a href="./services.html"><h4 class="title_h4 pointer">Услуги</h4></a>
          <a href="./sale/sale-catalog.html"><h4 class="title_h4 pointer">Акции</h4></a>
          <a href="./brands.html"><h4 class="title_h4 pointer">Бренды</h4></a>
          <h4 class="title_h4 pointer">Покупателям</h4>
          <a href="./about-company.html"><h4 class="title_h4 pointer">О компании</h4></a>
          <a href="./contact.html"><h4 class="title_h4 pointer">Контакты</h4></a>
        </div>
      </div>
    </header>
    <!-- Header end -->

    <!-- Main section start -->
    <main class="main container company">
      <!-- Company banner -->
      <section class="company_section">
        <div class="company_banner">
          <img src="../assets/img/about-company/banner.png" class="company_banner-img" alt="Company banner">
          <div class="company_banner-text">
            <div class="title_h1 company_banner-title">О компании</div>
            <div class="sale-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis</div>
          </div>
        </div>
      </section>
      <!-- Company head -->
      <section class="company_section">
        <div class="company_head">
          <div class="row">
            <div class="col-12 col-lg-6 col-xl-5">
              <img src="../assets/img/about-company/img-tex.png" class="company_head-img" alt="Text img">
            </div>
            <div class="col-12 col-lg-6 col-xl-7 company_head-text">
              <div class="title_h1">Заголовок</div>
              <div>
                <div class="title_h5 company_head-data">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                <div class="title_h5 company_head-data">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commo do consequat. </div>
                <div class="title_h5 company_head-data">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</div>
                <div class="title_h5 company_head-data">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud....</div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Company personal -->
      <section class="company_section">
        <div class="company_personal">
          <div class="company_personal-title title_h1">Сотрудники</div>
          <div class="row">
            <div class="col-6 col-lg-3">
              <div class="company_personal-card">
                <img src="../assets/img/about-company/personal.png" class="company_personal-card-img" alt="Personal">
                <div class="company_personal-card-text title_h3">Дмитрий Иванов</div>
                <div class="company_personal-card-job title_h4">Коммерческий директор</div>
                <div class="company_personal-card-text sale-text">Lorem ipsum dolor sit amet, consectetur
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </div>
              </div>
            </div>
            <div class="col-6 col-lg-3">
              <div class="company_personal-card">
                <img src="../assets/img/about-company/personal.png" class="company_personal-card-img" alt="Personal">
                <div class="company_personal-card-text title_h3">Дмитрий Иванов</div>
                <div class="company_personal-card-job title_h4">Коммерческий директор</div>
                <div class="company_personal-card-text sale-text">Lorem ipsum dolor sit amet, consectetur
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </div>
              </div>
            </div>
            <div class="col-6 col-lg-3">
              <div class="company_personal-card">
                <img src="../assets/img/about-company/personal.png" class="company_personal-card-img" alt="Personal">
                <div class="company_personal-card-text title_h3">Дмитрий Иванов</div>
                <div class="company_personal-card-job title_h4">Коммерческий директор</div>
                <div class="company_personal-card-text sale-text">Lorem ipsum dolor sit amet, consectetur
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </div>
              </div>
            </div>
            <div class="col-6 col-lg-3">
              <div class="company_personal-card">
                <img src="../assets/img/about-company/personal.png" class="company_personal-card-img" alt="Personal">
                <div class="company_personal-card-text title_h3">Дмитрий Иванов</div>
                <div class="company_personal-card-job title_h4">Коммерческий директор</div>
                <div class="company_personal-card-text sale-text">Lorem ipsum dolor sit amet, consectetur
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Company certificates -->
      <section class="company_section">
        <div class="company_certificate">
          <div class="company_certificate-title title_h1">Сотрудники</div>
          <div class="row">
            <div class="col-6 col-lg-3">
              <div>
                <img src="../assets/img/about-company/certificate.png" class="company_certificate-img" alt="">
              </div>
            </div>
            <div class="col-6 col-lg-3">
              <div>
                <img src="../assets/img/about-company/certificate.png" class="company_certificate-img" alt="">
              </div>
            </div>
            <div class="col-6 col-lg-3">
              <div>
                <img src="../assets/img/about-company/certificate.png" class="company_certificate-img" alt="">
              </div>
            </div>
            <div class="col-6 col-lg-3">
              <div>
                <img src="../assets/img/about-company/certificate.png" class="company_certificate-img" alt="">
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Footer mobile start -->
      <div class="fixed-bottom footer_mobile">
        <div class="footer_mobile-body">
          <div class="footer_mob-item">
            <a href=""><img src="../assets/img/footer/mobile/account.svg" alt="Account"></a>
          </div>
          <div class="divider-mob"></div>
          <div class="footer_mob-item">
            <a href=""><img src="../assets/img/footer/mobile/eay.svg" alt="Eay"></a>
          </div>
          <div class="divider-mob"></div>
          <div class="footer_mob-item">
            <a href=""><img src="../assets/img/footer/mobile/heart.svg" alt="Heart"></a>
          </div>
          <div class="divider-mob"></div>
          <div class="footer_mob-item icons_cart">
            <a href="./cart.html">
              <img src="../assets/img/footer/mobile/cart.svg" alt="cart">
              <div class="icons_cart-count icons_cart-count-mob">12</div>
            </a>
          </div>
        </div>
      </div>
      <!-- Footer mobile end -->
    </main>
    <!-- Main section end -->

    <!-- Footer section start -->
    <footer class="footer">
      <!-- Footer first section -->
      <section class="footer_first">
        <div class="container">
          <div class="footer_first-items">
            <!-- Contacts -->
            <div class="footer_first-blog">
              <a 
                href="#" 
                class="footer_first-link link footer_first-contact"
              >Заказать звонок</a>
              <a 
                href="#" 
                class="title_h5 pointer footer_first-email footer_first-contact footer_first-mob"
              >WhatsApp</a>
              <a 
                href="tel:+7999999999" 
                type="tel" 
                class="phone pointer footer_first-contact"
              >+7 (999) 99-99-99</a>
              <a 
                href="#" 
                type="email" 
                class="title_h5 footer_first-email footer_first-contact footer_first-mob"
              >example@yandex.ru</a>
            </div>
            <!-- Icons -->
            <div class="footer_first-mob">
              <button class="icons pointer">
                <a href="./viewed.html">
                <img src="../assets/img/icons/eay.svg" alt="eay">
              </a>
              </button>
              <button class="icons pointer">
                <a href="./favorites.html">
                <img src="../assets/img/icons/heart.svg" alt="heart">
              </a>
              </button>
              <button class="icons icons_cart pointer">
                <a href="../cart.html">
                  <img src="../assets/img/icons/cart.svg" alt="cart">
                  <div class="icons_cart-count">12</div>
                </a>
              </button>
            </div>
          </div>
        </div>
      </section>

      <div class="footer_divider"></div>
      
      <!-- Footer second section -->
      <section class="footer_second container">
        <div class="footer_second-items">
          <div class="row">
            <!-- First Group -->
            <div class="footer_second-GroupFirst col-12 col-lg-3">
              <a href="../index.html"><img src="../assets/img/footer/logo.svg" alt="logo"></a>
              <div class="footer_second-GroupFirst-icons">
                <a href="#" class="footer_second-GroupFirst-icons-item">
                  <img src="../assets/img/footer/second/whatsapp.svg" alt="">
                </a>
                <a href="#" class="footer_second-GroupFirst-icons-item">
                  <img src="../assets/img/footer/second/telegramm.svg" alt="">
                </a>
                <a href="#" class="footer_second-GroupFirst-icons-item">
                  <img src="../assets/img/footer/second/instagram.svg" alt="">
                </a>
                <a href="#" class="footer_second-GroupFirst-icons-item">
                  <img src="../assets/img/footer/second/youtube.svg" alt="">
                </a>
              </div>
              <div class="footer_second-GroupFirst-yandex">
                <a href="#">
                  <img src="../assets/img/footer/second/yandex.png" alt="">
                </a>
              </div>
            </div>
            <div class="col-12 col-lg-7 footer_second-center">
              <div class="row">
                <!-- Second Group -->
                <div class="footer_second-GroupSecond col">
                  <h3 class="footer_second-title title_h3">Интернет-магазин</h3>
                  <ul class="footer_second-menu list-reset">
                    <li class="footer_second-menu-item footer-menu"><a href="../catalog.html" class="footer_second-menu-item-link">Люстры</a></li>
                    <li class="footer_second-menu-item footer-menu"><a href="../catalog.html" class="footer_second-menu-item-link">Светильники</a></li>
                    <li class="footer_second-menu-item footer-menu"><a href="../catalog.html" class="footer_second-menu-item-link">Бра</a></li>
                    <li class="footer_second-menu-item footer-menu"><a href="../catalog.html" class="footer_second-menu-item-link">Настольные лампы</a></li>
                    <li class="footer_second-menu-item footer-menu"><a href="../catalog.html" class="footer_second-menu-item-link">Споты</a></li>
                    <li class="footer_second-menu-item footer-menu"><a href="../catalog.html" class="footer_second-menu-item-link">Торшеры</a></li>
                    <li class="footer_second-menu-item footer-menu"><a href="../catalog.html" class="footer_second-menu-item-link">Уличное освещение</a></li>
                    <li class="footer_second-menu-item footer-menu"><a href="../catalog.html" class="footer_second-menu-item-link">Весь католог</a></li>
                  </ul>
                </div>
                <!-- Third Group -->
                <div class="footer_second-GroupThird col-7 col-md">
                  <h3 class="footer_second-title title_h3">Покупателям</h3>
                  <ul class="footer_second-menu list-reset">
                    <li class="footer_second-menu-item footer-menu">Доставка</li>
                    <li class="footer_second-menu-item footer-menu">Оплата</li>
                    <li class="footer_second-menu-item footer-menu"><a href="./return.html" class="footer_second-menu-item-link">Возврат</a></li>
                    <li class="footer_second-menu-item footer-menu">Гарантия</li>
                  </ul>

                  <div class="footer_second-Group2">
                    <h3 class="footer_second-title title_h3">Услуги</h3>
                    <ul class="footer_second-menu list-reset">
                      <li class="footer_second-menu-item footer-menu">Установка светильников</li>
                      <li class="footer_second-menu-item footer-menu">Подбор по фото</li>
                      <li class="footer_second-menu-item footer-menu">Посчитать проект</li>
                    </ul>
                  </div>
                </div>
                <!-- Fourth Group -->
                <div class="footer_second-GroupFourth col-5 col-md">
                  <h3 class="footer_second-title title_h3">О компании</h3>
                  <ul class="footer_second-menu list-reset">
                    <li class="footer_second-menu-item footer-menu">Магазин Спб</li>
                    <li class="footer_second-menu-item footer-menu"><a href="./contact.html" class="footer_second-menu-item-link">Контакты</a></li>
                    <li class="footer_second-menu-item footer-menu">Реквизиты</li>
                    <li class="footer_second-menu-item footer-menu"><a href="./news/news-catalog.html" class="footer_second-menu-item-link">Новости</a></li>
                  </ul>
                
                  <div class="footer_second-Group2">
                    <h3 class="footer_second-title title_h3">Партнерам</h3>
                    <ul class="footer_second-menu list-reset">
                      <li class="footer_second-menu-item footer-menu"><a href="../designer.html" class="footer_second-menu-item-link">Дизайнерам</a></li>
                      <li class="footer_second-menu-item footer-menu">Поставщикам</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- Fifth Group -->
            <div class="footer_second-GroupFifth col-12 col-lg-2">
              <div class="row">
                <div class="footer_second-GroupFifth-icons">
                  <a href="#" class="footer_second-GroupFifth-icons-item">
                    <img src="../assets/img/footer/second/whatsapp.svg" alt="">
                  </a>
                  <a href="#" class="footer_second-GroupFifth-icons-item">
                    <img src="../assets/img/footer/second/telegramm.svg" alt="">
                  </a>
                  <a href="#" class="footer_second-GroupFifth-icons-item">
                    <img src="../assets/img/footer/second/instagram.svg" alt="">
                  </a>
                  <a href="#" class="footer_second-GroupFifth-icons-item">
                    <img src="../assets/img/footer/second/youtube.svg" alt="">
                  </a>
                </div>
                <a href="" class="footer_second-number title_h3">+1 (000) 000-00-00</a>
                <h4 class="footer_second-GroupFifth-email title_h4">example@yandex.ru</h4>
                <h5 class="footer_second-GroupFifth-address footer-adres"><b>Адрес магазина в Санкт-петербурге:</b> 195000, Москва, ул. Академика Королева, 12</h5>
              
                <div class="footer_second-GroupFifth-banks">
                  <a href="#" class="footer_second-GroupFifth-banks-item">
                    <img src="../assets/img/footer/second/mastercard.png" alt="Mastercard">
                  </a>
                  <a href="#" class="footer_second-GroupFifth-banks-item">
                    <img src="../assets/img/footer/second/visa.png" alt="Visa">
                  </a>
                  <a href="#" class="footer_second-GroupFifth-banks-item">
                    <img src="../assets/img/footer/second/maestro.png" alt="Maestro">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div class="footer_divider"></div>

      <!-- Footer third section -->
      <section class="footer_third">
        <h5 class="footer-menu">2024 © Все права защищены</h5>
      </section>
    </footer>
    <!-- Footer section end -->

    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="../js/components/footer.js"></script>
  </body> 
</html>
