<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/nouislider.min.css">
    <link rel="stylesheet" href="../css/swiper-bundle.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <title>Mercury</title>
  </head>
  <body>
    <!-- Header start -->
    <header class="header">
      <!-- Topbar section -->
      <div class="header_topbar container">
        <div class="header_topbar_items">   
          <!-- Place -->  
          <div class="all_sb">
            <img 
              src="../assets/img/icons/map.svg" 
              alt="icon" 
              class="header_topbar_icon pointer"
            >
            <div class="title_h6 pointer">
              Москва
            </div>
          </div>   
          <div class="all_sb">
            <!-- Shop -->
            <div class="title_h6 header_topbar_adr pointer">Магазин в Санкт-Петербурге</div>
            <!-- Phone -->
            <a href="tel:+7999999999" type="tel" class="phone pointer">+7 (999) 99-99-99</a>
            <!-- WhatsApp -->
            <img src="../assets/img/header/whatsapp.svg" class="header_topbar_whatsapp" alt="whatsapp">
          </div>
        </div>
      </div>

      <!-- Secondbar section -->
      <div class="header_secondbar">
        <!-- Secondbar first section -->
        <div class="header_secondbar_fSection container">
          <!-- Logo -->
          <a href="../index.html"><img src="../assets/img/header/logo.svg" class="header_secondbar-logo pointer" alt="logo"></a>
          <!-- Form -->
          <form class="all_sb header_secondbar-form header_secondbar-mob">
            <!-- Search -->
            <input 
              type="text"
              placeholder="Поиск..."
              class="header_secondbar_input input"
            >
            <!-- Select -->
            <select class="header_secondbar_select title_h5 pointer">
              <option 
                value="all categories" 
                disabled 
                selected
              ><h5>Все категории</h5></option>
              <option value="first category"><h5>Первая категория</h5></option>
              <option value="second category"><h5>Вторая категория</h5></option>
              <option value="third category"><h5>Третья категория</h5></option>
            </select>
            <!-- Button -->
            <button class="header_secondbar_btn pointer">
              <img src="../assets/img/icons/search-line.svg" alt="search">
            </button>
          </form>

          <!-- Header icons -->
          <div class="header_secondbar-icons header_secondbar-mob">
            <button class="icons pointer">
              <img src="../assets/img/icons/account.svg" alt="account">
            </button>
            <button class="icons pointer">
              <img src="../assets/img/icons/eay.svg" alt="eay">
            </button>
            <button class="icons pointer">
              <img src="../assets/img/icons/heart.svg" alt="heart">
            </button>
            <button class="icons icons_cart pointer">
              <img src="../assets/img/icons/cart.svg" alt="cart">
              <div class="icons_cart-count">12</div>
            </button>
          </div>

          <!-- Mobile burger -->
          <nav class="navbar navbar-expand-lg" id="mainNavbar">
            <button 
              type="button" 
              class="navbar navbar-toggler" 
              data-bs-toggle="offcanvas" 
              data-bs-target="#myNavbar"
              id="openmyNavbar"
            >
              <img src="../assets/img/header/burger.svg" alt="burger">
            </button>
          </nav>
          <!-- Mobile Dialog -->
          <div 
            class="offcanvas offcanvas-end" 
            tabindex="-1" 
            id="myNavbar"
          >
            <div class="offcanvas-header">
                <div></div>
                <button class="btn" data-bs-dismiss="offcanvas">
                  <img src="../assets/img/header/burger-close.svg" alt="Close navabar">
                </button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav text-center">
                  <li class="nav-first-item">
                    <select class="header_secondbar_select title_h5 pointer">
                      <option 
                        value="all categories" 
                        disabled 
                        selected
                      ><h5>Все категории</h5></option>
                      <option value="first category"><h5>Первая категория</h5></option>
                      <option value="second category"><h5>Вторая категория</h5></option>
                      <option value="third category"><h5>Третья категория</h5></option>
                    </select>
                  </li>
                  <li class="nav-first-item">
                    <input 
                      type="text"
                      placeholder="Поиск..."
                      class="header_secondbar_input title_h4"
                    >
                    <button class="header_secondbar_btn pointer">
                      <img src="../assets/img/icons/search-line.svg" alt="search">
                    </button>
                  </li>
                  <li class="nav-second-item">
                    <a href="./catalog.html"><div class="title_h1 pointer">Каталог</div></a>
                  </li>
                  <li class="nav-second-item">
                    <a href="./designer.html"><div class="title_h1 pointer">Дизайнерам</div></a>
                  </li>
                  <li class="nav-second-item">
                    <a href="./services.html"><div class="title_h1 pointer">Услуги</div></a>
                  </li>
                  <li class="nav-second-item">
                    <a href="./sale/sale-catalog.html"><div class="title_h1 pointer">Акции</div></a>
                  </li>
                  <li class="nav-second-item">
                    <a href="./brands.html"><div class="title_h1 pointer">Бренды</div></a>
                  </li>
                  <li class="nav-second-item">
                    <h1 class="title_h1 pointer">Покупателям</h1>
                  </li>
                  <li class="nav-second-item">
                    <a href="./about-company.html"><div class="title_h1 pointer">О компании</div></a>
                  </li>
                  <li class="nav-second-item">
                    <a href="./contact.html"><div class="title_h1 pointer">Контакты</div></a>
                  </li>
                </ul>
            </div>
          </div>
        </div>
  
        <div class="header_divider"></div>

        <!-- Secondbar second section -->
        <div class="header_secondbar_sSection container all_sb">
          <a href="./catalog.html"><h4 class="title_h4 pointer">Каталог</h4></a>
          <a href="./designer.html"><h4 class="title_h4 pointer">Дизайнерам</h4></a>
          <a href="./services.html"><h4 class="title_h4 pointer">Услуги</h4></a>
          <a href="./sale/sale-catalog.html"><h4 class="title_h4 pointer">Акции</h4></a>
          <a href="./brands.html"><h4 class="title_h4 pointer">Бренды</h4></a>
          <h4 class="title_h4 pointer">Покупателям</h4>
          <a href="./about-company.html"><h4 class="title_h4 pointer">О компании</h4></a>
          <a href="./contact.html"><h4 class="title_h4 pointer">Контакты</h4></a>
        </div>
      </div>
    </header>
    <!-- Header end -->

    <!-- Main section start -->
    <main class="main container">
      <!-- Cart section start -->
      <section class="cart">
        <!-- Bred crumbs -->
        <h6 class="breadCrumbs title_h6">Главная / Каталог / Корзина</h6>
        <!-- Cart title -->
        <div class="row">
          <div class="cart_title col-lg-9 col-12">
            <h1 class="title_h1 title">Корзина</h1>
            <div class="cart_title-links link">
              <div class="cart_title-share-link cart_title-btn-share pointer">
                <img src="../assets/img/cart/share.svg" class="cart_title-links-icon" alt="Share-link">
                Поделиться корзиной
              </div>
              <div class="cart_title-print-link pointer">
                <img src="../assets/img/cart/print.svg" class="cart_title-links-icon" alt="Print-link">
                Распечатать корзину
              </div>
            </div>
          </div>
        </div>
        <!-- Cart body -->
        <div class="row">
          <!-- Cart start-->
          <div class="col-12 col-xl-9">
            <div class="cart_product-blog">
              <!-- Cart blog title -->
              <div class="cart_product-blog-title">
                <div class="title_h4">Заказ №435345 от 23.02.2092</div>
                <div class="cart_product-blog-title-clean">
                  <div class="link_gray pointer">Очистить</div>
                  <img src="../assets/img/icons/close.svg" class="pointer cart_product-blog-title-clean-icon" alt="Close">
                </div>
              </div>
              <!-- Cards -->
              <div class="cart_product-blog-body">
                <!-- Card1 -->
                <div class="cart_product">
                  <div class="cart_product-column">
                    <!-- Card img -->
                    <div class="cart_product-img">
                      <img src="../assets/img/cart/img-1.png" alt="Product-image">
                    </div>
                    <div class="cart_product-center">
                      <!-- Card title -->
                      <div class="title_h3 cart_product-title">Люстра подвесная IKEA MELODI</div>

                      <div class="cart_product-center-bottom">
                        <!-- Card counter and stock -->
                        <div class="cart_product-center-column">                          
                          <div class="addCount-value cart_product-counter">
                            <img onclick="countPlus()" src="../assets/img/dialog-card/plus.png" class="pointer" alt="plus">
                            <div class="title_h3 count-value">1</div>
                            <img onclick="countMinus()" src="../assets/img/dialog-card/minus.png" class="pointer" alt="minus">
                          </div>
                          <div class="title_h5">В наличии 6 шт.</div>
                        </div>
                        <!-- Card textarea -->
                        <div class="cart_product-input">
                          <textarea class="form_textarea title_h6 cart_product-textarea" placeholder="Комментарий"></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Third column -->
                  <div class="cart_product-column">
                    <!-- Card prices -->
                    <div class="cart_product-price">
                      <h3 class="title_h3">49 900 ₽</h3>
                      <div class="price-sale">49 900 ₽</div>
                    </div>
                    <!-- Card deelete -->
                    <div class="cart_product-delete">
                      <a href=""><img src="../assets/img/cart/delete.svg" alt="Delete icon"></a>
                    </div>
                  </div>
                </div>
                <!-- Divider -->
                <div class="divider cart_product-blog-body-divider"></div>
                <!-- Card2 -->
                <div class="cart_product">
                  <div class="cart_product-column">
                    <!-- Card img -->
                    <div class="cart_product-img">
                      <img src="../assets/img/cart/img-1.png" alt="Product-image">
                    </div>
                    <div class="cart_product-center">
                      <!-- Card title -->
                      <div class="title_h3 cart_product-title">Люстра подвесная IKEA MELODI</div>

                      <div class="cart_product-center-bottom">
                        <!-- Card counter and stock -->
                        <div class="cart_product-center-column">                          
                          <div class="addCount-value cart_product-counter">
                            <img onclick="countPlus()" src="../assets/img/dialog-card/plus.png" class="pointer" alt="plus">
                            <div class="title_h3 count-value">1</div>
                            <img onclick="countMinus()" src="../assets/img/dialog-card/minus.png" class="pointer" alt="minus">
                          </div>
                          <div class="title_h5">В наличии 6 шт.</div>
                        </div>
                        <!-- Card textarea -->
                        <div class="cart_product-input">
                          <textarea class="form_textarea title_h6 cart_product-textarea" placeholder="Комментарий"></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Third column -->
                  <div class="cart_product-column">
                    <!-- Card prices -->
                    <div class="cart_product-price">
                      <h3 class="title_h3">49 900 ₽</h3>
                      <div class="price-sale">49 900 ₽</div>
                    </div>
                    <!-- Card deelete -->
                    <div class="cart_product-delete">
                      <a href=""><img src="../assets/img/cart/delete.svg" alt="Delete icon"></a>
                    </div>
                  </div>
                </div>
                <!-- Divider -->
                <div class="divider cart_product-blog-body-divider"></div>
                <!-- Card3 -->
                <div class="cart_product">
                  <div class="cart_product-column">
                    <!-- Card img -->
                    <div class="cart_product-img">
                      <img src="../assets/img/cart/img-1.png" alt="Product-image">
                    </div>
                    <div class="cart_product-center">
                      <!-- Card title -->
                      <div class="title_h3 cart_product-title">Люстра подвесная IKEA MELODI</div>

                      <div class="cart_product-center-bottom">
                        <!-- Card counter and stock -->
                        <div class="cart_product-center-column">                          
                          <div class="addCount-value cart_product-counter">
                            <img onclick="countPlus()" src="../assets/img/dialog-card/plus.png" class="pointer" alt="plus">
                            <div class="title_h3 count-value">1</div>
                            <img onclick="countMinus()" src="../assets/img/dialog-card/minus.png" class="pointer" alt="minus">
                          </div>
                          <div class="title_h5">В наличии 6 шт.</div>
                        </div>
                        <!-- Card textarea -->
                        <div class="cart_product-input">
                          <textarea class="form_textarea title_h6 cart_product-textarea" placeholder="Комментарий"></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Third column -->
                  <div class="cart_product-column">
                    <!-- Card prices -->
                    <div class="cart_product-price">
                      <h3 class="title_h3">49 900 ₽</h3>
                      <div class="price-sale">49 900 ₽</div>
                    </div>
                    <!-- Card deelete -->
                    <div class="cart_product-delete">
                      <a href=""><img src="../assets/img/cart/delete.svg" alt="Delete icon"></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Cart end -->

          <!-- Детали заказа start -->
          <div class="col-12 col-xl-3">
            <div class="cart_details">
              <h2 class="title_h2">Детали заказа</h2>
              <div class="cart_details-list">
                <div class="cart_details-list-item">
                  <div class="cart_details-list-gray h4-h5">4 товара</div>
                  <div class="title_h3">100 000 р.</div>
                </div>
                <div class="cart_details-list-item">
                  <div class="cart_details-list-gray h4-h5">Скидка</div>
                  <div class="title_h3">200 р.</div>
                </div>
              </div>
              <div class="cart_details-total">
                <div class="title_h5">Итого</div>
                <div class="price-detail">49 900 ₽</div>
              </div>
              <div class="cart_details-promokod">
                <input type="text" class="form_input form_input-promokod title_h6" placeholder="Есть промокод?">
              </div>
              <div class="cart_details-btns">
                <a href="./order-place.html"><button class="btn_small-red btn_small-red-cart cart_details-btn">В корзину</button></a>
                <button class="btn_small btn_small-cart cart_details-btn card_products-btn-buy">Купить в 1 клик</button>
              </div>
              <div class="cart_details-contact title_h6">
                <div class="cart_details-contact-item">Заказ можно оформить по телефону</div>
                <div class="cart_details-contact-item"><b>8 800 000-00-00</b> Бесплатно по России</div>
                <div class="cart_details-contact-item"><b>8 812 000-00-00</b> Санкт-Петербург</div>
              </div>
            </div>
          </div>
          <!-- Детали заказа end -->
        </div>
      </section>
      <!-- Cart section end -->

      <!-- Dialog-buy start -->
      <dialog class="dialog-for-buy">
        <div class="dialog-buy">
          <!-- Close -->
          <img src="../assets/img/icons/close.svg" class="dialog-buy_close pointer" alt="Close">
          <!-- Title -->
          <h2 class="title_h2">Купить в 1 клик</h2>
          <div class="dialog-buy_product">
            <!-- Image -->
            <img src="../assets/img/dialog-buy/img.png" height="65" width="65" alt="img">
            <div class="dialog-buy_product-data">
              <!-- Name -->
              <h5 class="title_h5">Длинное  название товара, которое отражает суть</h5>
              <!-- Price -->
              <div class="dialog-buy_product-cost">
                <h4 class="dialog-buy_product-cost-price price-modal">49 900 ₽</h4>
                <h5 class="dialog-buy_product-cost-price-sale title_h5">49 900 ₽</h5>
                <!-- Stock -->
                <h5 class="dialog-buy_product-cost-stock footer-adres">1 шт</h5>
              </div>
            </div>
          </div>
          <!-- Form -->
          <form class="form dialog-buy_form">
            <input type="text" placeholder="Имя" class="form_input title_h6">
            <input type="text" placeholder="Телефон" class="form_input dialog-buy_form-input title_h6">
            <div class="form_checkboxdata">
              <input 
                type="checkbox" 
                class="form-checkbox pointer" 
                id="dialog-buy_form-checkbox">
              <label class="form_checkbox-label small-text " for="dialog-buy_form-checkbox">Нажимая на кнопку, вы соглашаетесь на обработку персональных данных и с публичной офертой</label>
            </div>
            <button class="btn_med dialog-buy_form-btn">Отправить</button>
          </form>
        </div>
      </dialog>
      <!-- Dialog-buy end -->

      <!-- dialog-share start -->
      <dialog class="dialog-share-link">
        <div class="dialog-share">
          <!-- Close -->
          <img src="../assets/img/icons/close.svg" class="dialog-share_close pointer" alt="Close">
          <!-- Title -->
          <h2 class="dialog-share_title title_h2">Ссылка на корзину</h2>
          <!-- Form -->
          <form class="form dialog-share_form">
            <input type="text" placeholder="Имя" class="form_input dialog-share_form-input title_h6">
            <div class="dialog-share_form-btn">
              <button class="btn_med">Скопировать</button>
            </div>
            <div class="title_h6">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.....
            </div>
          </form>
        </div>
      </dialog>
      <!-- dialog-share end -->

      <!-- Footer mobile start -->
      <div class="fixed-bottom footer_mobile">
        <div class="footer_mobile-body">
          <div class="footer_mob-item">
            <a href=""><img src="../assets/img/footer/mobile/account.svg" alt="Account"></a>
          </div>
          <div class="divider-mob"></div>
          <div class="footer_mob-item">
            <a href=""><img src="../assets/img/footer/mobile/eay.svg" alt="Eay"></a>
          </div>
          <div class="divider-mob"></div>
          <div class="footer_mob-item">
            <a href=""><img src="../assets/img/footer/mobile/heart.svg" alt="Heart"></a>
          </div>
          <div class="divider-mob"></div>
          <div class="footer_mob-item icons_cart">
            <a href="./cart.html">
              <img src="../assets/img/footer/mobile/cart.svg" alt="cart">
              <div class="icons_cart-count icons_cart-count-mob">12</div>
            </a>
          </div>
        </div>
      </div>
      <!-- Footer mobile end -->
    </main>
    <!-- Main section end -->

    <!-- Footer section start -->
    <footer class="footer">
      <!-- Footer first section -->
      <section class="footer_first">
        <div class="container">
          <div class="footer_first-items">
            <!-- Contacts -->
            <div class="footer_first-blog">
              <a 
                href="#" 
                class="footer_first-link link footer_first-contact"
              >Заказать звонок</a>
              <a 
                href="#" 
                class="title_h5 pointer footer_first-email footer_first-contact footer_first-mob"
              >WhatsApp</a>
              <a 
                href="tel:+7999999999" 
                type="tel" 
                class="phone pointer footer_first-contact"
              >+7 (999) 99-99-99</a>
              <a 
                href="#" 
                type="email" 
                class="title_h5 footer_first-email footer_first-contact footer_first-mob"
              >example@yandex.ru</a>
            </div>
            <!-- Icons -->
            <div class="footer_first-mob">
              <button class="icons pointer">
                <img src="../assets/img/icons/eay.svg" alt="eay">
              </button>
              <button class="icons pointer">
                <img src="../assets/img/icons/heart.svg" alt="heart">
              </button>
              <button class="icons icons_cart pointer">
                <img src="../assets/img/icons/cart.svg" alt="cart">
                <div class="icons_cart-count">12</div>
              </button>
            </div>
          </div>
        </div>
      </section>

      <div class="footer_divider"></div>
      
      <!-- Footer second section -->
      <section class="footer_second container">
        <div class="footer_second-items">
          <div class="row">
            <!-- First Group -->
            <div class="footer_second-GroupFirst col-12 col-lg-3">
              <a href="../index.html"><img src="../assets/img/footer/logo.svg" alt="logo"></a>
              <div class="footer_second-GroupFirst-icons">
                <a href="#" class="footer_second-GroupFirst-icons-item">
                  <img src="../assets/img/footer/second/whatsapp.svg" alt="">
                </a>
                <a href="#" class="footer_second-GroupFirst-icons-item">
                  <img src="../assets/img/footer/second/telegramm.svg" alt="">
                </a>
                <a href="#" class="footer_second-GroupFirst-icons-item">
                  <img src="../assets/img/footer/second/instagram.svg" alt="">
                </a>
                <a href="#" class="footer_second-GroupFirst-icons-item">
                  <img src="../assets/img/footer/second/youtube.svg" alt="">
                </a>
              </div>
              <div class="footer_second-GroupFirst-yandex">
                <a href="#">
                  <img src="../assets/img/footer/second/yandex.png" alt="">
                </a>
              </div>
            </div>
            <div class="col-12 col-lg-7 footer_second-center">
              <div class="row">
                <!-- Second Group -->
                <div class="footer_second-GroupSecond col">
                  <h3 class="footer_second-title title_h3">Интернет-магазин</h3>
                  <ul class="footer_second-menu list-reset">
                    <li class="footer_second-menu-item footer-menu"><a href="./catalog.html" class="footer_second-menu-item-link">Люстры</a></li>
                    <li class="footer_second-menu-item footer-menu"><a href="./catalog.html" class="footer_second-menu-item-link">Светильники</a></li>
                    <li class="footer_second-menu-item footer-menu"><a href="./catalog.html" class="footer_second-menu-item-link">Бра</a></li>
                    <li class="footer_second-menu-item footer-menu"><a href="./catalog.html" class="footer_second-menu-item-link">Настольные лампы</a></li>
                    <li class="footer_second-menu-item footer-menu"><a href="./catalog.html" class="footer_second-menu-item-link">Споты</a></li>
                    <li class="footer_second-menu-item footer-menu"><a href="./catalog.html" class="footer_second-menu-item-link">Торшеры</a></li>
                    <li class="footer_second-menu-item footer-menu"><a href="./catalog.html" class="footer_second-menu-item-link">Уличное освещение</a></li>
                    <li class="footer_second-menu-item footer-menu"><a href="./catalog.html" class="footer_second-menu-item-link">Весь католог</a></li>
                  </ul>
                </div>
                <!-- Third Group -->
                <div class="footer_second-GroupThird col-7 col-md">
                  <h3 class="footer_second-title title_h3">Покупателям</h3>
                  <ul class="footer_second-menu list-reset">
                    <li class="footer_second-menu-item footer-menu">Доставка</li>
                    <li class="footer_second-menu-item footer-menu">Оплата</li>
                    <li class="footer_second-menu-item footer-menu"><a href="./return.html" class="footer_second-menu-item-link">Возврат</a></li>
                    <li class="footer_second-menu-item footer-menu">Гарантия</li>
                  </ul>

                  <div class="footer_second-Group2">
                    <h3 class="footer_second-title title_h3">Услуги</h3>
                    <ul class="footer_second-menu list-reset">
                      <li class="footer_second-menu-item footer-menu">Установка светильников</li>
                      <li class="footer_second-menu-item footer-menu">Подбор по фото</li>
                      <li class="footer_second-menu-item footer-menu">Посчитать проект</li>
                    </ul>
                  </div>
                </div>
                <!-- Fourth Group -->
                <div class="footer_second-GroupFourth col-5 col-md">
                  <h3 class="footer_second-title title_h3">О компании</h3>
                  <ul class="footer_second-menu list-reset">
                    <li class="footer_second-menu-item footer-menu">Магазин Спб</li>
                    <li class="footer_second-menu-item footer-menu"><a href="./contact.html" class="footer_second-menu-item-link">Контакты</a></li>
                    <li class="footer_second-menu-item footer-menu">Реквизиты</li>
                    <li class="footer_second-menu-item footer-menu"><a href="./news/news-catalog.html" class="footer_second-menu-item-link">Новости</a></li>
                  </ul>
                
                  <div class="footer_second-Group2">
                    <h3 class="footer_second-title title_h3">Партнерам</h3>
                    <ul class="footer_second-menu list-reset">
                      <li class="footer_second-menu-item footer-menu"><a href="./designer.html" class="footer_second-menu-item-link">Дизайнерам</a></li>
                      <li class="footer_second-menu-item footer-menu">Поставщикам</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- Fifth Group -->
            <div class="footer_second-GroupFifth col-12 col-lg-2">
              <div class="row">
                <div class="footer_second-GroupFifth-icons">
                  <a href="#" class="footer_second-GroupFifth-icons-item">
                    <img src="../assets/img/footer/second/whatsapp.svg" alt="">
                  </a>
                  <a href="#" class="footer_second-GroupFifth-icons-item">
                    <img src="../assets/img/footer/second/telegramm.svg" alt="">
                  </a>
                  <a href="#" class="footer_second-GroupFifth-icons-item">
                    <img src="../assets/img/footer/second/instagram.svg" alt="">
                  </a>
                  <a href="#" class="footer_second-GroupFifth-icons-item">
                    <img src="../assets/img/footer/second/youtube.svg" alt="">
                  </a>
                </div>
                <a href="" class="footer_second-number title_h3">+1 (000) 000-00-00</a>
                <h4 class="footer_second-GroupFifth-email title_h4">example@yandex.ru</h4>
                <h5 class="footer_second-GroupFifth-address footer-adres"><b>Адрес магазина в Санкт-петербурге:</b> 195000, Москва, ул. Академика Королева, 12</h5>
              
                <div class="footer_second-GroupFifth-banks">
                  <a href="#" class="footer_second-GroupFifth-banks-item">
                    <img src="../assets/img/footer/second/mastercard.png" alt="Mastercard">
                  </a>
                  <a href="#" class="footer_second-GroupFifth-banks-item">
                    <img src="../assets/img/footer/second/visa.png" alt="Visa">
                  </a>
                  <a href="#" class="footer_second-GroupFifth-banks-item">
                    <img src="../assets/img/footer/second/maestro.png" alt="Maestro">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div class="footer_divider"></div>

      <!-- Footer third section -->
      <section class="footer_third">
        <h5 class="footer-menu">2024 © Все права защищены</h5>
      </section>
    </footer>
    <!-- Footer section end -->

    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="../js/swiper-bundle.min.js"></script>
    <script src="../js/components/cart.js"></script>
    <script src="../js/components/footer.js"></script>
  </body> 
</html>
