<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../css/main.css">
    <title>Mercury</title>
  </head>
<body>
  <div class="container">
    <div class="row">
      <div class="col mt-5">
        <!-- LK -->
        <div class="lk">
          <h2 class="title_h2">Профиль</h2>
          <div class="lk_blog">
            <div class="lk_blog-title title_h6">Скидка</div>
            <div class="title_h3">5%</div>
          </div>
          <div class="lk_blog">
            <div class="lk_blog-title title_h6">Бонусы</div>
            <div class="title_h3">3 000 ₽</div>
          </div>
          <div class="lk_blog">
            <div class="lk_blog-title title_h6">ФИО</div>
            <div class="title_h3">Иванов Иван Иванович</div>
          </div>
          <div class="lk_blog">
            <div class="lk_blog-title title_h6">E-mail</div>
            <div class="title_h3">test@mail.ru</div>
          </div>
          <div class="lk_blog">
            <div class="lk_blog-title title_h6">Телефон</div>
            <div class="title_h3">+7 (999) 999-99-99</div>
          </div>
          <div class="lk_blog">
            <div class="lk_blog-title title_h6">Адрес доставки</div>
            <div class="title_h6">г. Санкт-Петербург, ул. Уральская, д. 13, лит. к, помещ. 1-Н, ком. 27</div>
          </div>
          <div class="lk_blog">
            <div class="lk_blog-btns">
              <div class="link_gray lk_blog-btns-prof">Изменить</div>
              <div class="link_gray lk_blog-btns-change">Сменить пароль</div>
            </div>
          </div>
        </div>
        <!-- LK -->

        <!-- Dialog change password -->
        <dialog class="dialog-changePass">
          <div class="dialog-change">
            <!-- Close -->
            <img src="../assets/img/icons/close.svg" class="dialog-change_close pointer" alt="Close">
            <!-- Title -->
            <h2 class="dialog-change_title title_h2">Смена пароля</h2>
            <!-- Form -->
            <form class="form dialog-change_form">
              <!-- Old password -->
              <label for="oldPassword" class="dialog-change_form-input-label title_h6">Старый пароль</label>
              <input type="text" class="form_input dialog-change_form-input title_h6" id="oldPassword">
              <!-- New password -->
              <label for="newPassword" class="dialog-change_form-input-label title_h6">Новый пароль</label>
              <input type="text" placeholder="Пароль" class="form_input dialog-change_form-input title_h6" id="newPassword">
              <input type="text" placeholder="Повторить пароль" class="form_input dialog-change_form-input title_h6" id="newPassword">
              <button class="btn_med dialog-change_form-btn">Изменить</button>
            </form>
          </div>
        </dialog>
        <!-- Dialog change password -->

        <!-- Dialog Profile password -->
        <dialog class="dialog-prof">
          <div class="dialog-profile">
            <!-- Close -->
            <img src="../assets/img/icons/close.svg" class="dialog-profile_close pointer" alt="Close">
            <!-- Title -->
            <h2 class="dialog-profile_title title_h2">Профиль</h2>
            <!-- Form -->
            <form class="form dialog-profile_form">
              <!-- ФИО -->
              <label for="fio" class="dialog-profile_form-input-label title_h6">ФИО</label>
              <input type="text" placeholder="Андрее" class="form_input dialog-profile_form-input title_h6" id="fio">
              <!-- E-mail -->
              <label for="email" class="dialog-profile_form-input-label title_h6">E-mail</label>
              <input type="email" placeholder="@"  class="form_input dialog-profile_form-input title_h6" id="email">
              <!-- Адрес -->
              <label for="adr" class="dialog-profile_form-input-label title_h6">Адрес доставки</label>
              <input type="text" placeholder="safqwf2"  class="form_input dialog-profile_form-input title_h6" id="adr">
              <button class="btn_med dialog-change_form-btn">Изменить</button>
            </form>
          </div>
        </dialog>
        <!-- Dialog Profile password -->
      </div>
      <div class="col mt-5">
        <!-- Dialog-registration start -->
        <div class="dialog-registration">
          <div class="dialog-reg">
            <!-- Close -->
            <img src="../assets/img/icons/close.svg" class="dialog-reg_close pointer" alt="Close">
            <!-- Title -->
            <h2 class="dialog-reg_title title_h2">Вход или  регистрация</h2>
            <!-- Subtitle -->
            <h5 class="title_h5">Мы отправим код подтверждения в СМС сообщении.</h5>
            <!-- Form -->
            <form class="form dialog-reg_form">
              <input type="number" placeholder="Телефон" class="form_input dialog-reg_form-input title_h6">
              <div class="dialog-reg_form-btn">
                <button class="btn_med">Войти</button>
              </div>
            </form>
          </div>
        </div>
        <!-- Dialog-registration end -->
      </div>
      <div class="col mt-5">
        <!-- Dialog-confirmation start -->
        <div class="dialog-confirmation">
          <div class="dialog-conf">
            <!-- Close -->
            <img src="../assets/img/icons/close.svg" class="dialog-conf_close pointer" alt="Close">
            <!-- Back -->
            <img src="../assets/img/icons/back.svg" class="dialog-conf_back pointer" alt="Back">
            <!-- Title -->
            <h2 class="dialog-conf_title title_h2">Подтверждение</h2>
            <!-- Subtitle -->
            <h5 class="title_h5">Мы отправили вам код на номер <br>
              +7 (999) 999-99-99</h5>
            <!-- Form -->
            <form class="form dialog-conf_form">
              <input type="text" placeholder="Код из смс" class="form_input dialog-conf_form-input title_h6">
              <div class="dialog-conf_form-text title_h6">Запросить код повторно можно через 01:23</div>
            </form>
          </div>
        </div>
        <!-- Dialog-confirmation end -->
      </div>
      <div class="col mt-5">
        <!-- Dialog-confirmation start -->
        <div class="dialog-confirmation">
          <div class="dialog-conf">
            <!-- Close -->
            <img src="../assets/img/icons/close.svg" class="dialog-conf_close pointer" alt="Close">
            <!-- Back -->
            <img src="../assets/img/icons/back.svg" class="dialog-conf_back pointer" alt="Back">
            <!-- Title -->
            <h2 class="dialog-conf_title title_h2">Подтверждение</h2>
            <!-- Subtitle -->
            <h5 class="title_h5">Мы отправили вам код на номер <br>
              +7 (999) 999-99-99</h5>
            <!-- Form -->
            <form class="form dialog-conf_form">
              <input type="text" placeholder="Код из смс" class="form_input dialog-conf_form-input title_h6">
              <div class="title_h6">Запросить код повторно</div>
            </form>
          </div>
        </div>
        <!-- Dialog-confirmation end -->
      </div>
      <div class="col mt-5">
        <!-- Dialog-project start -->
        <div class="dialog-project">
          <div class="dialog-proj">
            <!-- Close -->
            <img src="../assets/img/icons/close.svg" class="dialog-proj_close pointer" alt="Close">
            <!-- Title -->
            <h2 class="dialog-proj_title title_h2">Посчитать проект</h2>
            <!-- Subtitle -->
            <h5 class="title_h5">Оставьте заявку и мы бесплатно посчитаем вам проект.</h5>
            <!-- Form -->
            <form class="form dialog-proj_form">
              <input type="text" placeholder="Имя" class="form_input dialog-proj_form-input title_h6">
              <input type="email" placeholder="E-mail" class="form_input dialog-proj_form-input title_h6">
              <input type="number" placeholder="Телефон" class="form_input dialog-proj_form-input title_h6">
              <textarea class="form_textarea dialog-proj_form-input title_h6" placeholder="Комментарий"></textarea>
              <div class="dialog-proj_form-input">
                <label for="import-file" class="dialog-proj_form-label">
                  <input type="file" id="import-file" name="Выбери" multiple>
                  <div class="link_gray">+ Добавить документ</div>
                </label>
              </div>
              <div class="form_checkboxdata">
                <input 
                  type="checkbox" 
                  class="form-checkbox pointer" 
                  id="dialog-proj_form-checkbox">
                <label class="form_checkbox-label dialog-proj_form-label small-text " for="dialog-proj_form-checkbox">Нажимая на кнопку, вы соглашаетесь на обработку персональных данных и с публичной офертой</label>
              </div>
            </form>
          </div>
        </div>
        <!-- Dialog-project end -->
      </div>
      <div class="col mt-5">
        <!-- Dialog-project start -->
        <div class="dialog-project">
          <div class="dialog-proj">
            <!-- Close -->
            <img src="../assets/img/icons/close.svg" class="dialog-proj_close pointer" alt="Close">
            <!-- Title -->
            <h2 class="dialog-proj_title title_h2">Посчитать проект</h2>
            <!-- Subtitle -->
            <h5 class="title_h5">Оставьте заявку и мы подберем аналоги по фото.</h5>
            <!-- Form -->
            <form class="form dialog-proj_form">
              <input type="text" placeholder="Имя" class="form_input dialog-proj_form-input title_h6">
              <input type="email" placeholder="E-mail" class="form_input dialog-proj_form-input title_h6">
              <input type="number" placeholder="Телефон" class="form_input dialog-proj_form-input title_h6">
              <textarea class="form_textarea dialog-proj_form-input title_h6" placeholder="Комментарий"></textarea>
              <div class="dialog-proj_form-input">
                <label for="import-file" class="dialog-proj_form-label">
                  <input type="file" id="import-file" name="Выбери" multiple>
                  <div class="link_gray">+ Добавить документ</div>
                </label>
              </div>
              <div class="form_checkboxdata">
                <input 
                  type="checkbox" 
                  class="form-checkbox pointer" 
                  id="dialog-proj_form-checkbox">
                <label class="form_checkbox-label dialog-proj_form-label small-text " for="dialog-proj_form-checkbox">Нажимая на кнопку, вы соглашаетесь на обработку персональных данных и с публичной офертой</label>
              </div>
            </form>
          </div>
        </div>
        <!-- Dialog-project end -->
      </div>
    </div>
    <div class="row my-5">
      <div class="col">
        <div class="cookie">
          <div>
            <img src="../assets/img/icons/cookie.png" class="cookie_img" alt="Cookie">
          </div>
          <div class="title_h6 cookie_text">Мы используем файлы cookie для улучшения работы сайта. Подробную информацию вы найдете в Политике конфиденциальности в отношении cookie-файлов. Продолжая просматривать этот сайт, вы соглашаетесь с условиями использования cookie–файлов.</div>
          <button class="btn_med cookie_btn">Понятно</button>
        </div>
      </div>
    </div>
  </div>

  <script src="/js/components/dialogs.js"></script>
</body>
</html>