.contact {

  &_title {
    margin-bottom: 30px;

    @include for-tablet {
      margin-bottom: 20px;
    }
  }

  &_body {
    @include for-big-tablet {
      position: relative;
    }
  }
  
  &_data {
    height: 206px;
    padding: 30px;
    border-radius: 5px;
    background-color: var(--white); 

    &-address {
      width: 330px;

      @include for-small-laptop {
        width: 290px;
      }
    }

    &-title {
      margin-bottom: 10px;

      @include for-small-tablet {
        margin: 20px 0 10px 0;
      }
    }

    &-email {
      margin-top: 30px;

      @include for-tablet {
        margin-top: 20px;
      }
    }

    @include for-big-tablet {
      padding: 20px;
    }

    @include for-small-tablet {
      height: 285px;
    }
  }

  &_form {
    padding: 30px;
    border-radius: 5px;
    background-color: var(--white); 
    margin-top: 30px;

    &-title {
      margin-bottom: 20px;
    }

    &-name {
      margin-right: 30px;

      @include for-laptop {
        margin: 0 0 20px 0;
      }
    }

    &-checkbox {
      width: 320px;
      margin: 20px 0;

      @include for-mobile {
        width: auto;
      }
    }

    @include for-big-tablet {
      padding: 20px;
      margin-top: 410px;
    }
  }

  &_map {
    width: 100%;

    &-item {
      width: 100%;
      height: 495px;
      border-radius: 5px;
  
      @include for-laptop {
        height: 555px;
      }

      @include for-big-tablet {
        height: 380px;
      }
    }

    @include for-big-tablet {
      position: absolute;
      top: 220px;
      left: 0;
    }

    @include for-small-tablet {
      top: 300px;
    }
  }
}
