/* line 4, ../scss/_vars.scss */
:root {
  --font-family: "Roboto", sans-serif;
  --content-width: 1360px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --content-fluid-width: 1790px;
  --container-fluid-width: calc(var(--content-fluid-width) + (var(--container-offset) * 2));
  --white: #fff;
  --danger: #d52027;
  --gray-bcg: #D7D7DA;
  --gray: #D7D7D7;
  --optianal-gray: #B4B4B4;
  --dark: #1D1D1B;
  --success: #33D03A;
  --yellow: #F9AE1C;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
/* line 44, ../scss/mixins/_checkbox.scss */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

/* line 48, ../scss/mixins/_checkbox.scss */
.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

/* line 53, ../scss/mixins/_checkbox.scss */
.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */
/* stylelint-disable */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/../fonts/Roboto-Black.woff2") format("woff2");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}
/* line 1, ../scss/_settings.scss */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 5, ../scss/_settings.scss */
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* line 13, ../scss/_settings.scss */
body {
  font-family: var(--font-family);
  background-color: var(--gray-bcg);
}

/* line 18, ../scss/_settings.scss */
.section {
  margin: 30px 0 10px 0;
}
/* line 21, ../scss/_settings.scss */
.section_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
/* line 26, ../scss/_settings.scss */
.section_link {
  margin-left: 50px;
  color: var(--dark);
  text-decoration: underline;
}

/* line 33, ../scss/_settings.scss */
img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* line 39, ../scss/_settings.scss */
a {
  text-decoration: none;
}

/* line 43, ../scss/_settings.scss */
.site-container {
  overflow: hidden;
}

/* line 47, ../scss/_settings.scss */
.is-hidden {
  display: none !important;
  /* stylelint-disable-line declaration-no-important */
}

/* line 51, ../scss/_settings.scss */
.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

/* line 58, ../scss/_settings.scss */
.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 64, ../scss/_settings.scss */
.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
/* line 71, ../scss/_settings.scss */
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

/* line 79, ../scss/_settings.scss */
.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

/* line 90, ../scss/_settings.scss */
.all_sb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* line 94, ../scss/_settings.scss */
.pointer {
  cursor: pointer;
}

/* line 98, ../scss/_settings.scss */
.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

/* line 105, ../scss/_settings.scss */
.container-fluid {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-fluid-width);
}

/* line 111, ../scss/_settings.scss */
.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

/* line 5, ../scss/components/header.scss */
.header_topbar_icon {
  margin-right: 5px;
}
/* line 9, ../scss/components/header.scss */
.header_topbar_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 30px;
}
/* line 15, ../scss/components/header.scss */
.header_topbar_adr {
  margin-right: 70px;
}
/* line 21, ../scss/components/header.scss */
.header_secondbar {
  background-color: var(--white);
}
/* line 25, ../scss/components/header.scss */
.header_secondbar_fSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
}
/* line 31, ../scss/components/header.scss */
.header_secondbar_input {
  height: 39px;
  width: 563px;
  border: 1px solid var(--gray);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-left: 20px;
}
/* line 39, ../scss/components/header.scss */
.header_secondbar_input:focus {
  outline: 1px solid var(--optional-gray);
  color: var(--dark);
}
/* line 45, ../scss/components/header.scss */
.header_secondbar_select {
  margin-left: -5px;
  width: 167px;
  height: 39px;
  border: 1px solid var(--gray);
  text-align: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url(../img/icons/arrow_select.svg) no-repeat center;
  background-color: #F2F2F2;
  background-position-x: calc(100% - 20px);
}
/* line 57, ../scss/components/header.scss */
.header_secondbar_select:focus {
  outline: 1px solid var(--gray);
}
/* line 62, ../scss/components/header.scss */
.header_secondbar_btn {
  width: 50px;
  height: 39px;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: var(--dark);
}
/* line 72, ../scss/components/header.scss */
.header_secondbar_sSection {
  height: 59px;
}
/* line 77, ../scss/components/header.scss */
.header_divider {
  width: 100%;
  height: 1px;
  background-color: #F2F2F2;
}

/* line 1, ../scss/components/footer.scss */
.footer {
  margin-top: 50px;
  background-color: var(--dark);
}
/* line 5, ../scss/components/footer.scss */
.footer_first {
  background-color: var(--white);
}
/* line 8, ../scss/components/footer.scss */
.footer_first-items {
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/* line 13, ../scss/components/footer.scss */
.footer_first-contact {
  margin-right: 70px;
}
/* line 16, ../scss/components/footer.scss */
.footer_first-contact:last-child {
  margin: 0;
}
/* line 21, ../scss/components/footer.scss */
.footer_first-link {
  color: var(--dark);
  text-decoration: underline;
}
/* line 26, ../scss/components/footer.scss */
.footer_first-email {
  color: var(--dark);
}
/* line 31, ../scss/components/footer.scss */
.footer_second {
  margin: 60px auto;
  color: var(--white);
}
/* line 35, ../scss/components/footer.scss */
.footer_second-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/* line 41, ../scss/components/footer.scss */
.footer_second-title {
  text-transform: uppercase;
  margin-top: 20px;
}
/* line 46, ../scss/components/footer.scss */
.footer_second-menu {
  margin-top: 10px;
  list-style: none;
  cursor: pointer;
}
/* line 51, ../scss/components/footer.scss */
.footer_second-menu-item {
  margin-top: 15px;
}
/* line 58, ../scss/components/footer.scss */
.footer_second-fGroup-icons {
  margin-top: 30px;
}
/* line 62, ../scss/components/footer.scss */
.footer_second-fGroup-icon {
  margin-right: 28px;
}
/* line 65, ../scss/components/footer.scss */
.footer_second-fGroup-icon:last-child {
  margin: 0;
}
/* line 70, ../scss/components/footer.scss */
.footer_second-fGroup-yandex {
  margin-top: 39px;
}
/* line 75, ../scss/components/footer.scss */
.footer_second-Group2 {
  margin-top: 50px;
}
/* line 79, ../scss/components/footer.scss */
.footer_second-email {
  margin-top: 28px;
  cursor: pointer;
}
/* line 84, ../scss/components/footer.scss */
.footer_second-address {
  width: 200px;
  margin-top: 30px;
  cursor: pointer;
}
/* line 90, ../scss/components/footer.scss */
.footer_second-banks {
  margin-top: 40px;
}
/* line 93, ../scss/components/footer.scss */
.footer_second-banks-item {
  margin-right: 30px;
  cursor: pointer;
}
/* line 97, ../scss/components/footer.scss */
.footer_second-banks-item:last-child {
  margin: 0;
}
/* line 105, ../scss/components/footer.scss */
.footer_third {
  height: 82px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--optianal-gray);
}
/* line 111, ../scss/components/footer.scss */
.footer_divider {
  width: 100%;
  height: 1px;
  background-color: #333333;
}

/* line 2, ../scss/components/text.scss */
.title_h1 {
  font-size: 36px;
  font-weight: 300;
  line-height: 40px;
}
/* line 8, ../scss/components/text.scss */
.title_h2 {
  font-size: 24px;
  font-weight: 300;
  line-height: 26px;
}
/* line 14, ../scss/components/text.scss */
.title_h3 {
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
}
/* line 20, ../scss/components/text.scss */
.title_h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}
/* line 26, ../scss/components/text.scss */
.title_h5 {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
/* line 32, ../scss/components/text.scss */
.title_h6 {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

/* line 39, ../scss/components/text.scss */
.phone {
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  color: var(--dark);
}

/* line 46, ../scss/components/text.scss */
.input {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: var(--optianal-gray);
}

/* line 53, ../scss/components/text.scss */
.link {
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
}

/* line 59, ../scss/components/text.scss */
.card_types {
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
}

/* line 65, ../scss/components/text.scss */
.card_grade {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

/* line 71, ../scss/components/text.scss */
.card_price {
  font-size: 24px;
  font-weight: 800;
  line-height: 20px;
}

/* line 1, ../scss/components/card.scss */
.card {
  width: 318px;
  height: 421px;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--white);
}
/* line 9, ../scss/components/card.scss */
.card_swiper {
  width: 298px;
  height: 213px;
  border-radius: 5px;
  position: relative;
}
/* line 16, ../scss/components/card.scss */
.card_img {
  position: relative;
}
/* line 20, ../scss/components/card.scss */
.card_heart {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
}
/* line 27, ../scss/components/card.scss */
.card_type {
  position: absolute;
  top: 5px;
  z-index: 1000;
  color: var(--white);
}
/* line 33, ../scss/components/card.scss */
.card_type-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5px 0 5px 10px;
  height: 16px;
  border-radius: 2px;
  cursor: pointer;
}
/* line 42, ../scss/components/card.scss */
.card_hit {
  width: 35px;
  background-color: var(--yellow);
}
/* line 47, ../scss/components/card.scss */
.card_new {
  width: 64px;
  background-color: var(--success);
}
/* line 52, ../scss/components/card.scss */
.card_sale {
  width: 49px;
  background-color: var(--danger);
}
/* line 57, ../scss/components/card.scss */
.card_title {
  margin: 10px 0;
}
/* line 61, ../scss/components/card.scss */
.card_rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/* line 64, ../scss/components/card.scss */
.card_rate-star {
  width: 16px;
  height: 16px;
}
/* line 69, ../scss/components/card.scss */
.card_rate-grade {
  margin: 0 15px 0 10px;
  color: var(--danger);
}
/* line 75, ../scss/components/card.scss */
.card_comment {
  width: 65px;
  height: 18px;
  border: 1px solid var(--optianal-gray);
  border-radius: 2px;
  color: var(--optianal-gray);
  text-align: center;
}
/* line 84, ../scss/components/card.scss */
.card_cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}
/* line 88, ../scss/components/card.scss */
.card_cost-price {
  margin-right: 20px;
}
/* line 91, ../scss/components/card.scss */
.card_cost-price-sale {
  color: var(--optianal-gray);
  text-decoration: line-through;
}
/* line 98, ../scss/components/card.scss */
.card_stock {
  margin: 15px 0;
  color: var(--optianal-gray);
}
/* line 103, ../scss/components/card.scss */
.card_btn {
  width: 145px;
  height: 38px;
  background-color: transparent;
  border: 1px solid var(--dark);
  border-radius: 5px;
  line-height: 25.5px;
}
/* line 111, ../scss/components/card.scss */
.card_btn:hover {
  background-color: var(--danger);
  color: var(--white);
  border: none;
}

/* line 1, ../scss/components/icons.scss */
.icons {
  margin-right: 35px;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  background-color: transparent;
  border: none;
}
/* line 9, ../scss/components/icons.scss */
.icons:last-child {
  margin: 0;
}
/* line 13, ../scss/components/icons.scss */
.icons:hover {
  background-color: var(--gray);
}
/* line 17, ../scss/components/icons.scss */
.icons_cart {
  position: relative;
}
/* line 20, ../scss/components/icons.scss */
.icons_cart-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--danger);
  color: var(--white);
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
}

/* line 4, ../scss/components/home-page/banner.scss */
.banner_swiper-container {
  width: 1013px;
  height: 350px;
}
/* line 9, ../scss/components/home-page/banner.scss */
.banner_swiper-slide {
  height: 100%;
  background-image: url(../img/home-page/banner/bannerBack.png);
  color: var(--white);
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
}
/* line 20, ../scss/components/home-page/banner.scss */
.banner_swiper_grid {
  grid-column: 7 / -3;
  margin-top: 58px;
}
/* line 25, ../scss/components/home-page/banner.scss */
.banner_swiper_subtitle {
  margin: 20px 0 20px 0;
  text-align: justify;
}
/* line 30, ../scss/components/home-page/banner.scss */
.banner_btn {
  width: 168px;
  height: 47px;
  background-color: transparent;
  color: var(--white);
  border: 1px solid var(--white);
  border-radius: 5px;
}
/* line 38, ../scss/components/home-page/banner.scss */
.banner_btn:hover {
  background-color: var(--white);
  color: var(--dark);
}
/* line 44, ../scss/components/home-page/banner.scss */
.banner_swiper-scrollbar {
  border-radius: 40px;
  height: 5px;
  background-color: var(--white);
  z-index: 1000;
}
/* line 51, ../scss/components/home-page/banner.scss */
.banner .swiper-scrollbar-drag {
  background-color: var(--danger);
}
/* line 56, ../scss/components/home-page/banner.scss */
.banner_small {
  width: 317px;
  height: 160px;
  padding: 25px;
  color: var(--white);
  border-radius: 5px;
}
/* line 63, ../scss/components/home-page/banner.scss */
.banner_small-1 {
  background-image: url(../img/home-page/banner/small-banner-1.png);
  margin-bottom: 30px;
}
/* line 67, ../scss/components/home-page/banner.scss */
.banner_small-2 {
  background-image: url(../img/home-page/banner/small-banner-2.png);
}
/* line 71, ../scss/components/home-page/banner.scss */
.banner_small_subtitle {
  padding: 10px 0 10px 0;
}
/* line 75, ../scss/components/home-page/banner.scss */
.banner_small_btn {
  width: 20px;
  height: 20px;
  background-color: var(--white);
  border: none;
  border-radius: 5px;
}

/* line 3, ../scss/components/home-page/categories.scss */
.categories_swiper {
  position: relative;
}
/* line 7, ../scss/components/home-page/categories.scss */
.categories-slide {
  width: 202px;
  height: 284px;
  color: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/* line 15, ../scss/components/home-page/categories.scss */
.categories_prev {
  width: 40px;
  height: 40px;
  border-radius: 0 5px 5px 0;
  background-color: var(--white);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  z-index: 1000;
}
/* line 30, ../scss/components/home-page/categories.scss */
.categories_next {
  width: 40px;
  height: 40px;
  border-radius: 5px 0 0 5px;
  background-color: var(--white);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  z-index: 1000;
}

/* line 3, ../scss/components/home-page/hit.scss */
.hit_cards {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

/* line 3, ../scss/components/home-page/new-prod.scss */
.new-prod_cards {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

/* line 1, ../scss/components/home-page/gallery.scss */
.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 28px;
}
/* line 6, ../scss/components/home-page/gallery.scss */
.gallery_item {
  width: 666px;
  height: 327px;
  padding: 60px 50px;
  color: var(--white);
}
/* line 13, ../scss/components/home-page/gallery.scss */
.gallery_title {
  margin-bottom: 20px;
}
/* line 17, ../scss/components/home-page/gallery.scss */
.gallery_subtitle {
  width: 412px;
}

/* line 3, ../scss/components/home-page/spb-products.scss */
.spb-prosucts_cards {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

/* line 3, ../scss/components/home-page/sale.scss */
.sale_cards {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

/* line 3, ../scss/components/home-page/manufactures.scss */
.manufactures_items {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
/* line 10, ../scss/components/home-page/manufactures.scss */
.manufactures_brand {
  width: 318px;
  height: 125px;
  cursor: pointer;
}

/* line 3, ../scss/components/home-page/news.scss */
.news_items {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
/* line 10, ../scss/components/home-page/news.scss */
.news_card {
  width: 433px;
  height: 337px;
}
/* line 14, ../scss/components/home-page/news.scss */
.news_card-img {
  width: 433px;
  height: 242px;
  position: relative;
}
/* line 19, ../scss/components/home-page/news.scss */
.news_card-img-date {
  position: absolute;
  top: 10px;
  left: 20px;
  width: 75px;
  height: 16px;
  background-color: var(--optianal-gray);
  color: white;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
/* line 35, ../scss/components/home-page/news.scss */
.news_card-title {
  margin-top: 20px;
}
/* line 39, ../scss/components/home-page/news.scss */
.news_card-subtitle {
  margin-top: 10px;
}

/* line 3, ../scss/components/home-page/viewed.scss */
.viewed_cards {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

/*# sourceMappingURL=main.css.map */