/* fonts family*/
/* Colors */
/* Basic setting */
html {
  font-size: 10px;
}
body {
  font-family: 'Rubik', serif;
}
/*Первая стораница*/
/*Кнопка меню*/
.button {
  padding: 1rem 3rem;
  border-radius: 8px;
  font-size: 1.2rem;
  background-color: #a58c00;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
}
/* Typography */
section {
  padding: 10rem 0;
}
/* main */
.main {
  padding: 3rem 0;
  background: #ffffff url(../img/main.banner.jpg) center center no-repeat;
  /*Moscov state universyti*/
  /*Черный квадрат*/
  /*Главный зоголовок*/
  /*Под зоголовок*/
  /*Form*/
}
.main-content {
  margin-top: 14rem;
}
.main h1 {
  margin-bottom: 4rem;
  font-family: 'Alice', serif;
  text-transform: uppercase;
  font-size: 4rem;
}
.main-subtitle {
  font-size: 2.4rem;
  margin-bottom: 4rem;
  color: #ffffff;
}
.main-title {
  line-height: 1.5;
}
.main-trigger {
  text-transform: uppercase;
  display: block;
  font-family: 'Alice', serif;
  color: #ffffff;
  font-size: 3rem;
  margin-top: 2rem;
}
.main-form {
  background-color: #ffffff;
  padding: 4rem 5rem;
  text-align: center;
  /*зоголовок форм*/
  /*input*/
  /*Подпись под кнопкой*/
  /*Кнопка нa форме*/
}
.main-form-header {
  font-size: 1.9rem;
  margin-bottom: 4rem;
}
.main-form-input {
  display: block;
  width: 100%;
  padding: 1.5rem;
  margin: 2rem auto;
  border: 1px solid #dddddd;
  text-align: center;
  font-size: 1.3rem;
  font-family: 'Alice', serif;
  color: #000000;
}
.main-form small {
  display: block;
  margin-top: 1.5rem;
  font-size: 1.5rem;
  font-family: 'Alice', serif;
}
.main-form-btn {
  display: block;
  height: 5.5rem;
  width: 100%;
  font-size: 1.6rem;
}
/*Текст про учебу*/
span {
  display: inline-block;
  padding: 4rem 6rem;
  background-color: #000000;
  font-size: 1.8rem;
  color: #ffffff;
}
span strong {
  font-size: 3rem;
  font-family: 'Alice', serif;
}
/*Телефон номер*/
.phone-link {
  display: inline-block;
  font-family: 'Alice', serif;
  font-size: 2rem;
  font-weight: 900;
  line-height: 7rem;
  height: 7rem;
  color: #000000;
  text-decoration: none;
}
.header {
  height: 7rem;
}
/*кнопка меню, чтобы сделать в середине*/
.wrap {
  display: table;
  width: 100%;
  height: 7rem;
}
.wrap-block {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
/*Вторая страница*/
.section-header {
  text-align: center;
  margin: 10rem 0;
  font-family: 'Alice', serif;
  font-size: 3.6rem;
}
/*sliders*/
.features-block {
  text-align: center;
  margin-bottom: 3rem;
}
.features-block h3 {
  font-size: 2rem;
  font-family: 'Alice', serif;
  font-weight: 900;
  margin-bottom: 3rem;
}
.features p {
  font-size: 1.4rem;
  display: inline-block;
  width: 80%;
}
.features-img img {
  display: block;
  margin: 0 auto;
}
