.banner {

// Swiper start
  &_swiper-container {
    width: 1013px;
    height: 350px;
  }
  
  &_swiper-slide {
    height: 100%;
    background-image: url(../img/home-page/banner/bannerBack.png);
    color: var(--white);
    border-radius: 5px;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
  }

  &_swiper_grid {
    grid-column: 7 / -3;
    margin-top: 58px;
  }

  &_swiper_subtitle {
    margin: 20px 0 20px 0;
    text-align: justify;
  }

  &_btn {
    width: 168px;
    height: 47px;
    background-color: transparent;
    color: var(--white);
    border: 1px solid var(--white);
    border-radius: 5px;

    &:hover {
      background-color: var(--white);
      color: var(--dark);
    }
  }

  &_swiper-scrollbar {
    border-radius: 40px;
    height: 5px;
    background-color: var(--white); 
    z-index: 1000;
  }

  .swiper-scrollbar-drag {
   background-color: var(--danger);  
  }
// Swiper end

  &_small {
    width: 317px;
    height: 160px;
    padding: 25px;
    color: var(--white);
    border-radius: 5px;

    &-1 {
      background-image: url(../img/home-page/banner/small-banner-1.png);
      margin-bottom: 30px;
    }
    &-2 {
      background-image: url(../img/home-page/banner/small-banner-2.png);
    }

    &_subtitle {
      padding: 10px 0 10px 0;
    } 

    &_btn {
      width: 20px;
      height: 20px;
      background-color: var(--white);
      border: none;
      border-radius: 5px;
    }
  }
}
