.view-fav {

  // Cards
  &_cards {
    margin-top: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;

    @include for-small-laptop {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @include for-big-tablet {
      grid-template-columns: 1fr 1fr;
    }

    @include for-tablet {
      grid-template-columns: 1fr;
    }
  }

  &_pagination-row {
    justify-content: end;

    @include for-tablet {
      justify-content: center;
    }
  }
}
