.order-1 {

  &_title {
    margin-bottom: 30px;

    &-status {
      margin-top: 20px;

      &-select {
        width: 318px;
        height: 40px;
        padding: 9px 20px;
        margin-right: 30px;
        border: 1px solid var(--dark);
        border-radius: 5px;
        

        appearance: none;
        background: url(../assets/img/icons/arrow_select.svg) no-repeat center;
        background-color: transparent;
        background-position-x: calc(100% - 20px);

        @include for-tablet {
          width: 48%;
        }
      }

      &-date {
        width: 202px;
        height: 40px;
        padding: 9px 0 9px 50px;
        position: relative;
        border: 1px solid var(--dark);
        border-radius: 5px;
        background-color: transparent;

        @include for-tablet {
          width: 48%;
        }
      }

      &-inputs {
        @include for-tablet {
          @include flex-all-sb;
        }
      }
    }
  }

  &_order {
    padding: 20px 30px;
    margin-bottom: 30px;
    border-radius: 5px;
    background-color: var(--white);

    &:last-child {
      margin-bottom: 0;
    }

    &-status {
      width: 92px;
      height: 20px;
      @include flex-all-center;
      border-radius: 15px;
      color: var(--white);

      &-gold {
        background-color: var(--gold);
      }

      &-success {
        background-color: var(--success);
      }

      &-danger {
        background-color: var(--danger);
      }

      @include for-big-tablet {
        margin: 10px 0;
      }
    }

    &-imageDiv {
      width: 480px;

      @include for-laptop {
        width: 400px;
      }

      @include for-small-laptop {
        width: 260px;
      }

      @include for-big-tablet {
        width: 100%;
        margin: 20px 0;
      }
    }

    &-image {
      width: 60px;
      height: 60px;
      border-radius: 5px;
      margin: 5px 5px 5px 0;

      &:last-child {
        margin-right: 0;
      }
    }

    &-price {
      @include for-big-tablet {
        position: absolute;
        top: 20px;
        right: 10px;
        text-align: end;
      }
    }

    @include for-big-tablet {
      position: relative;
    }

    @include for-tablet {
      padding: 20px 20px;
      margin-bottom: 20px;
    }
  }
}
// Двигать иконку
input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 20px;
}
