.addCount {
  margin-top: 20px;
  display: flex;
  align-items: center;

  &-value {
    width: 99px;
    height: 35px;
    padding: 3px;

    @include flex_all_sb;

    border: 1px solid var(--gray-bcg);
    border-radius: 5px;
    background-color: #F9F9F9;
    color: var(--optianal-gray);

    &-50 {
      margin-right: 50px;
    }
  }
  // 991.5px
  @include for-big-tablet {
    margin-top: 15px;
  }
}
