.btn {

  &_med {
    padding: 9px 42px;
    border: 1px solid var(--dark);
    border-radius: 5px;
    background-color: transparent;
    color: var(--dark);

    font-size: 16px;
    font-weight: 600;
    line-height: 29px;
    cursor: pointer;

    @include for-big-laptop {
      font-size: 16px;
      line-height: 28px;
    }

    @include for-big-tablet {
      padding: 5.5px 27px;
    }
  }

  &_small-red {
    padding: 6.5px 35px;
    border: none;
    border-radius: 5px;
    background-color: var(--danger);
    color: var(--white);

    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    cursor: pointer;

    &:active {
      border: none;
    }

    &-cart {
      padding: 6.5px 20px;
    }
  }
  

  &_small {
    padding: 6.5px 26.5px;
    border: 1px solid var(--dark);
    border-radius: 5px;
    background-color: transparent;
    color: var(--dark);

    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    cursor: pointer;

    &-cart {
      padding: 6.5px 13px;
    }
  }

  &_card {
    padding: 6.5px 38px;
    background-color: transparent;
    border: 1px solid var(--dark);
    border-radius: 5px;
    color: var(--dark);

    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    cursor: pointer;

    &:hover {
      background-color: var(--danger);
      color: var(--white);
      border: none;
    }
  }

  &_tab {
    padding: 7px 14px;
    margin-right: 20px;
    border: 1px solid var(--dark);
    border-radius: 5px;
    background-color: transparent;
    color: var(--dark);

    &:hover,
    &:active {
      background-color: var(--dark);
      color: var(--white);
    }
  }
}
