.tabs {
  margin-top: 30px;
  border-bottom: 4px solid var(--white);
  border-radius: 4px;

  &_items {
    padding-bottom: 7px;
    margin-bottom: -4px;
    cursor: pointer;

    &:is(.active) {
      border-bottom: 4px solid var(--danger);
      border-radius: 4px;
    }
  }

  &_content {
    padding-top: 20px;
    margin-top: -4px;
    border-top: 4px solid var(--white);
    border-radius: 4px;
  }
}

.tabs-product {
  margin-top: 30px;
  border-bottom: 4px solid var(--gray);
  border-radius: 4px;
  
  &_items {
    padding-bottom: 7px;
    margin-bottom: -4px;
    cursor: pointer;

    &-first {
      margin-right: 40px;
    }

    &:is(.active) {
      border-bottom: 4px solid var(--danger);
      border-radius: 4px;
    }
  }

  &_content {
    margin-top: -4px;
    border-top: 4px solid var(--gray);
    border-radius: 4px;

    &-body {
      margin-top: 30px;
    }

    &-title {
      margin-bottom: 10px;
    }

    &-text {
      line-height: 21px;
    }
  }

  &_review {

    &-title {
      display: flex;
      align-items: center;
    }

    &-stars {
      margin-left: 20px;
    }

    &-date {
      margin: 10px 0;
      color: var(--optianal-gray);
    }

    &-images {
      margin: 20px 10px 0 0;
    }
  }
}

.tabs-order {
  margin-top: 20px;
  border-radius: 4px;
  display: flex;
  
  &_items {
    padding: 0 30px 7px 0;
    color: var(--optianal-gray);
    border-bottom: 4px solid var(--optianal-gray);
    cursor: pointer;

    &:is(.active) {
      border-bottom: 4px solid var(--danger);
      border-radius: 4px;
      color: var(--dark);
    }

    @include for-mobile {
      width: 100%;
      padding: 0 0 7px 0;
    }
  }

  &_content {
    margin-top: -4px;
    padding-top: 30px;
    border-radius: 4px;

    &-form {
      display: flex;

      &-blog {
        margin-right: 30px;

        @include for-mobile {
          margin: 0;
        }
      }

      @include for-big-tablet {
        display: block;
      }
    }

    &-input {
      display: block;
      margin-bottom: 20px;

      &-small {
        width: 320px;
        display: flex;
        justify-content: space-between;

        @include for-mobile {
          width: 100%;
        }
      }
    }

    &-contactFace {
      margin-top: 20px;

      &-title {
        margin-bottom: 20px;
      }
    }

    &-delivery {
      margin-bottom: 20px;
      line-height: 20px;
    }
  }
}
