.catalog {

  // Cards
  &_cards {
    margin-top: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;

    @include for-small-laptop {
      grid-template-columns: 1fr 1fr;
    }

    @include for-tablet {
      grid-template-columns: 1fr;
    }
  }
  // Filter category
  &_categories {
    padding: 30px;
    border-radius: 5px;

    background-color: var(--white);
    // Filter category list
    &-list {
      width: 100%;
      margin-top: 20px;
      // Filter category items

      &-item {
        width: 100%;
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }
      }
      
      &-link {
        width: 100%;
        height: 38px;
        padding: 0 10px;

        display: flex;
        justify-content: start;
        align-items: center;
        color: var(--dark);

        border-radius: 5px;
        
        &:hover {
          background-color: var(--dark);
          .catalog_categories-list-name {
            text-decoration: underline;
            color: var(--white);
          }
        }

        &:is(.active) {
          background-color: var(--dark);
          .catalog_categories-list-name {
            text-decoration: underline;
            color: var(--white);
          }
        }
      }
      // Filter category name
      &-name {
        margin: 0 15px;
      }
      // Filter category pcs
      &-pcs {
        margin: 0;
        color: var(--optianal-gray);
      }
    }
  }
  // Filters
  &_filters {
    margin-top: 30px;
    padding: 30px;
    border-radius: 5px;

    background-color: var(--white);
    // Filters title
    &-title {
      @include flex-all-sb;

      &-link {
        text-align: right;
      }
    }
    // Price filter
    &-price {
      &-items {
        @include flex-all-sb;
        // price filter inputs
        &-input {
          width: 47%;
          height: 40px;
          padding: 10px 15px;
          border: 1px solid var(--optianal-gray);
          border-radius: 5px;
        }
      }
      // Price filter range
      &-range-slider{
        margin-top: 20px;
      }
    }
    // Other filters
    &-items {
      margin-top: 30px;
      // Other filters list name
      &-title {
        margin-bottom: 20px;
        background: url(../../../../assets/img/catalog/arrow-top.svg) no-repeat right;

        &:is(.collapsed) {
          background: url(../../../../assets/img/catalog/arrow-right.svg) no-repeat right;
        }
      }
      // Other filters checkbox label
      &-label {
        margin-left: 10px;
      }
    }
    // Other filters list
    &-li {
      margin-bottom: 15px;
    }
    // Filters in desktop
    &-desk {
      @include for-big-tablet {
        display: none;
      }
    }
  }
  // Banner
  &_banner {
    height: 220px;
    margin: 20px 0 0 0;
    color: var(--white);
    position: relative;
    // Banner img
    &-img {
      width: 100%;
      height: 100%;
      border-radius: 5px;
    }
    // Banner text
    &-text {
      position: absolute;
      top: 40px;
      left: 40px;
      width: 380px;
      // 450px
      @include for-mobile {
        width: 250px;
      }
    }
  }
  // Choose btn (select)
  &_chooseFilter {
    margin-top: 30px;
    padding: 9px 20px;
    width: 318px;
    border: 1px solid var(--dark);
    border-radius: 5px;
    color: var(--dark);
    
    appearance: none;
    background: url(../assets/img/icons/arrow_select.svg) no-repeat;
    background-position: 90% center;
    background-color: transparent;
    // 575.5px
    @include for-small-tablet {
      width: 100%;
    }
  }
  // Filters on mobile
  &_mobile {
    display: none;

    &-filters {
      @include flex-all-sb;
      margin-top: 30px;
      // Mobile filters btns
      &-btn {
        width: 170px;
        height: 40px;
        text-align: left;
        padding-left: 20px;
        border: none;
        border-radius: 5px;
        background-color: var(--white);
        color: var(--dark);
  
        &-icon {
          margin-right: 10px;
        }
      }
    }
    // 991.5px
    @include for-big-tablet {
      display: block;
    }
  }

  &_pagination-row {
    justify-content: end;

    @include for-tablet {
      justify-content: center;
    }
  }
}
