:root {
  // base
  --font-family: "Roboto";

  // colors
  --white: #fff;
  --danger: #d52027;
  --gray-bcg: #D7D7DA;
  --gray: #D7D7D7;
  --optianal-gray: #B4B4B4;
  --dark: #1D1D1B;
  --success: #33D03A;
  --yellow: #F9AE1C;
  --gold: #E7BB67;
}