.error {
  margin: 80px auto 150px auto;
  text-align: center;
  // Subtitle
  &_subtitle{ 
    margin-top: 25px;
  }
  // Error btn
  &_btn {
    padding: 9px 42px;
    margin-top: 50px;
    border: 1px solid var(--dark);
    border-radius: 5px;

    font-size: 16px;
    font-weight: 600;
    line-height: 29px;

    background-color: transparent;
  }
  // 767.5px
  @include for-tablet {
    margin: 60px auto 130px auto;
  }
}
