@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCuM70w-.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOkCnqEu92Fr1MmgWxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5vAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlvAw.ttf) format('truetype');
}
#mainNavbar {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #282828;
}
#mainNavbar .navbar-nav .nav-item .nav-link {
  font-family: 'Montserrat', serif;
  font-size: 1rem;
  letter-spacing: 0.06em;
}
#mainNavbar .navbar-nav .nav-item .nav-link.active,
#mainNavbar .navbar-nav .nav-item .nav-link:hover {
  text-underline-offset: 10px;
  text-decoration: underline;
  text-decoration-color: orange;
}
.heading-section {
  position: relative;
}
.heading-section .backImage {
  background-image: url(../img/home/mainBanner.jpg);
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.heading-section .backImage .backImage-title {
  margin-top: -8rem;
}
.heading-section .counter {
  background: url(../img/home/map.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  width: 1000px;
  height: 380px;
  position: absolute;
  margin: auto;
  top: 85%;
  left: 0;
  right: 0;
}
.heading-section .counter .counter-title {
  margin-top: 5rem;
}
.heading-section .counter .counter-title .counter-number {
  color: #c4a109;
}
.heading-section .counter .counter-title .counter-text {
  font-size: 12px;
}
.heading-section .counter .counter-subtitle {
  margin-top: 3rem;
}
.parallax {
  background-image: url(../img/home/map.jpg);
  min-height: 200px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax-window {
  background-image: url(../img/home/map.jpg);
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax-window .form-title {
  font-family: 'Montserrat', serif;
  text-decoration: underline;
  text-decoration-color: orange;
  text-underline-offset: 10px;
  padding-top: 450px;
  text-align: end;
}
#services .mySection {
  padding: 5rem 0;
  background-color: #282828;
}
#services .mySection .s-heading {
  margin-top: 5rem;
  margin-bottom: 1rem;
  font-family: 'Montserrat', serif;
  text-decoration: underline;
  text-decoration-color: orange;
  text-underline-offset: 10px;
}
#services .mySection .s-r-title {
  position: relative;
}
#services .mySection .s-r-title .s-r-heading {
  position: absolute;
  top: 10%;
  right: 50%;
  font-family: 'Montserrat', serif;
  text-decoration: underline;
  text-decoration-color: orange;
  text-underline-offset: 10px;
}
#services .mySection .servicesImgDiv {
  width: 17rem;
  height: 17rem;
  overflow: hidden;
}
#services .mySection .servicesImgDiv .servicesImg {
  width: 100%;
  padding: 0;
  margin: 0;
}
#services .mySection .servicesImgDiv .serviceName {
  font-size: 15px;
  text-align: end;
  margin: 15px 10px 0px 0px;
}
#services .mySection .servicesImgDiv .serviceSubName {
  margin-top: -15px;
}
#services .mySection .servicesImgDiv > .servicesImg {
  display: block;
  margin-left: -80px;
}
#services .mySection .news {
  position: relative;
  padding: 5rem 0 10rem 0;
}
#services .mySection .news .news-content {
  position: absolute;
  padding-top: 5rem;
}
#services .mySection .news .news-content .p-item {
  max-width: 26rem;
  margin-left: auto;
  margin-right: auto;
}
#services .mySection .news .news-content .p-item .p-caption {
  background-color: #282828;
}
#services .mySection .news .news-content .p-item .p-caption .pc-heading {
  color: #c4a109;
  font-size: 1.5rem;
  font-family: 'Montserrat', serif;
  margin-bottom: 0;
}
#services .mySection .news .news-content .p-item .p-caption .pc-subheading {
  font-family: 'Roboto', serif;
  font-weight: 900;
  color: #fff;
}
.formPage {
  position: relative;
}
.formPage .mySection {
  padding: 5rem 0;
  background-color: #282828;
}
.formPage .mySection .inputs {
  background-color: transparent;
}
.formPage .mySection .form-btn {
  border: 1px solid #c4a109;
  color: #fff;
  width: 200px;
}
.formPage .mySection .form-btn:hover {
  background-color: #c4a109;
}
.formPage .info-text {
  margin-top: 35px;
  color: #c4a109;
}
.footerPage .mySection {
  padding: 5rem 0;
  background-color: #e2e0e0;
}
.footerPage .mySection .foot-item .foot-link {
  color: #282828;
  text-decoration: none;
  font-family: 'Montserrat', serif;
  font-size: 1rem;
}
.footerPage .mySection .foot-item .foot-link.active,
.footerPage .mySection .foot-item .foot-link:hover {
  text-underline-offset: 10px;
  text-decoration: underline;
  text-decoration-color: orange;
}
@media (max-width: 991.98px) {
  .heading-section .backImage {
    padding-top: 11rem;
    padding-bottom: 13rem;
  }
  .heading-section .backImage .backImage-title {
    padding-top: 5rem;
  }
  .heading-section .counter {
    width: 750px;
  }
  .offcanvas {
    background: #424242;
  }
}
@media (min-width: 992px) {
  .backImage {
    padding-top: 15rem;
    padding-bottom: 15rem;
  }
  #mainNavbar {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border: none;
    background: transparent;
    transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
    -webkit-transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
    -moz-transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
    -ms-transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
    -o-transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
  }
  #mainNavbar .navbar-nav .nav-item {
    margin-right: 1rem;
  }
  #mainNavbar .navbar-nav .nav-item:last-child {
    margin-right: 1rem;
  }
  #mainNavbar.navbar-mobile {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #282828;
  }
}
@media (max-width: 450px) {
  .heading-section .counter {
    width: 350px;
    height: 350px;
    top: 85%;
  }
  .heading-section .counter .counter-title {
    margin-top: 25px;
  }
  .heading-section .counter .counter-title .counter-text {
    font-size: 10px;
  }
  .heading-section .counter .counter-subtitle {
    margin-top: 10px;
  }
  .formPage {
    margin-top: 45em;
  }
  .form-title {
    display: none;
  }
}
