.banner {

// Swiper start
  &_first-section {
    height: 350px;
    // 991.5px
    @include for-big-tablet {
      height: 270px;
    }
  }

  &_second-section {
    // 991.5px
    @include for-big-tablet {
      margin-top: 20px;
    }
  }
  
  // Banner
  &_swiper-slide {
    height: 100%;
    width: 100%;
    position: relative;

    &-img {
      height: 100%;
      border-radius: 5px;
      object-fit: cover;
      object-position: 40% 50%;
    }

    &-text {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      right: 0;
      color: var(--white);
    }
  }

  // Banner data
  &_swiper_grid {
    margin: 58px 100px 0 0;
    // 991.5px
    @include for-big-tablet {
      margin: 50px 20px 0 0;
    }
  }

  // Banner subtitle
  &_swiper_subtitle {
    margin: 20px 0;
    text-align: justify;
    // 991.5px
    @include for-big-tablet {
      margin: 14px 0;
    }

    @include for-mobile {
      max-width: 175px;
      text-align: left;
    }
  }

  // Banner btn
  &_btn {
    color: var(--white);
    border: 1px solid var(--white);

    &:hover {
      background-color: var(--white);
      color: var(--dark);
    }
  }

  // Banner scroll
  &_swiper-scrollbar {
    border-radius: 40px;
    height: 5px;
    background-color: var(--white); 
    z-index: 1000;
  }
  .swiper-scrollbar-drag {
   background-color: var(--danger);  
  }
// Swiper end

// Small banners
  &_small {
    height: 160px;
    position: relative;
    margin-bottom: 30px;

    &-img {
      width: 100%;
      height: 100%;
      border-radius: 5px;
    }

    &-text {
      position: absolute;
      top: 25px;
      left: 25px;
      color: var(--white);

      @include for-big-tablet {
        top: 30px;
        left: 20px;
        right: 20px;
      }
    }

    // Small banner subtitle
    &_subtitle {
      padding: 10px 0 10px 0;
    } 

    // Small banner btn
    &_btn {
      width: 20px;
      height: 20px;
      background: url(../../../../assets/img/icons/arrow_right.svg) no-repeat center;
      background-color: var(--white);
      border: none;
      border-radius: 5px;
      // 991.5px
      @include for-big-tablet {
        width: 30px;
        height: 30px;
      }

      @include for-mobile {

      }
    }
    // 991.5px
    @include for-big-tablet {
      height: 180px;
    }
  }
}
