.manufactures {
  
  &_items {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;

    @include for-big-tablet {
      grid-template-columns: repeat(3, 1fr);
    }

    @include for-tablet {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
  }

  &_brand {
    // width: 100%;
    // height: 125px;
    cursor: pointer;
  }
}