.news {

  &_items {
    margin-top: 25px;
    // display: grid;
    // grid-template-columns: repeat(3, 1fr);
    // gap: 30px;

    // @include for-laptop {

    // }
  }

  &_card {

    &-iblog {
      // width: 433px;
      // height: 242px;
      position: relative;

      &-img {
        width: 100%;
      }

      &-date {
        position: absolute;
        top: 10px;
        left: 20px;

        width: 75px;
        height: 16px;
        background-color: var(--optianal-gray);
        color: white;
        border-radius: 2px;

        @include flex-all-center;
        text-align: center;
      }
    }

    &-title {
      margin-top: 20px;
    }

    &-subtitle {
      margin-top: 10px;
    }

    @include for-small-laptop {
      margin-top: 20px;
    }
  }
}