.sale-catalog {

  &_title {
    margin-bottom: 30px;

    @include for-tablet {
      margin: 0;
    }
  }

  &_item {
    padding: 30px;
    border-radius: 5px;
    background-color: var(--white);

    &-img {
      width: 100%;
      max-height: 242px;
      border-radius: 5px;
    }

    &-deadline {
      margin: 20px 0;
    }

    &-text {
      margin-top: 10px;
    }

    @include for-small-laptop {
      padding: 20px;
    }

    @include for-tablet {
      padding: 10px;
      margin-top: 20px;
    }
  }
}

